In [2]:
!pip install pyspark
!pip install psutil

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Requirement already satisfied: psutil in /usr/local/lib/python3.10/dist-packages (5.9.5)

# Load Dataset
## Simply load the dataset from the parquet format given in the google drive above
- Load the dataset.
- Preview first 20 rows.
- How many partitions is this dataframe split into?
- Change partitions to be equal to the number of your logical cores

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Zeyad_Milestone3").getOrCreate()
sc = spark.sparkContext

In [4]:
file_path = "/content/fintech_data_49_52_16824.parquet" # Replace with your file path
df = spark.read.parquet(file_path)

In [5]:
df.show(20)

+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+
|         Customer Id|           Emp Title|Emp Length|Home Ownership|Annual Inc|Annual Inc Joint|Verification Status|Zip Code|Addr State|Avg Cur Bal|Tot Cur Bal|Loan Id|Loan Status|Loan Amount|State|Funded Amount|      Term|Int Rate|Grade|       Issue Date|Pymnt Plan|      Type|           Purpose|         Description|
+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+
|YidceGM2XHhlOFx4M...|Director of Opera...| 10+ years|           OWN|   70000.0|            NULL|       Not Verified|   461xx|        IN|     8529.0|   196163.0| 213592|Charged Off|    23525.0|   IN|      23525.0| 60 months|  0.1825|   23|  15 October 2015|     false|Individual|       credit_card|Credit card refin...|
|YidVXHg4N1x4YjFce...| PROGRAMMER ENGINEER|   3 years|          RENT|   80000.0|            NULL|    Source Verified|   917xx|        CA|     2890.0|    17337.0|  90990|    Current|    10000.0|   CA|      10000.0| 36 months|  0.1102|    6|   19 August 2019|     false|Individual|           medical|    Medical expenses|
|YicuXHgwZVx4ZTFce...|    Career Counselor|   7 years|          RENT|   80000.0|            NULL|    Source Verified|   840xx|        UT|     5099.0|   101978.0| 171258| Fully Paid|    16800.0|   UT|      16800.0| 36 months|  0.1153|   10|     15 June 2015|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceGJjXHhjMlx4Y...|Program Director/...|   4 years|      MORTGAGE|   65000.0|            NULL|       Not Verified|   783xx|        TX|    27686.0|   359917.0| 108300|    Current|    10800.0|   TX|      10800.0| 36 months|  0.1446|   15|      16 May 2016|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YidceGJlblx0Qlx4M...|       Truck driver |  < 1 year|          RENT|   60500.0|            NULL|    Source Verified|   021xx|        MA|     4155.0|    41553.0|  47169|    Current|     6025.0|   MA|       6025.0| 36 months|   0.143|   15|     19 June 2019|     false|Individual|          vacation|            Vacation|
|YidceDA0XHhlNlx4Y...|                NULL|      NULL|          RENT|   11724.0|            NULL|           Verified|   305xx|        GA|     1348.0|     4043.0|  21229|    Current|     4225.0|   GA|       4225.0| 36 months|  0.1408|   15|     17 June 2017|     false|Individual|debt_consolidation|  Debt consolidation|
|YidnXHhhZVx4ZDRce...|Special personal ...|   3 years|          RENT|   42000.0|            NULL|       Not Verified|   907xx|        CA|     1135.0|    13616.0|  67891|    Current|     8000.0|   CA|       8000.0| 36 months|   0.143|   12|19 September 2019|     false|Individual|       credit_card|Credit card refin...|
|YidcXFx4YzFceDE2X...| Teacher/Team Leader|   2 years|          RENT|   69000.0|            NULL|    Source Verified|   334xx|        FL|     7585.0|    60680.0| 246280|    Current|    30000.0|   FL|      30000.0| 60 months|  0.1942|   19|      18 May 2018|     false|Individual|debt_consolidation|  Debt consolidation|
|YicvXHhiM3tceGYxX...|         Coordinator|   2 years|          RENT|   42000.0|            NULL|    Source Verified|   107xx|        NY|     3647.0|    21883.0|  48594|    Current|     6400.0|   NY|       6400.0| 36 months|  0.0993|    6|     17 July 2017|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceGU4XHhmMTxce...|     Legal Assistant|    1 year|          RENT|   20800.0|            NULL|    Source Verified|   902xx|        CA|      965.0|    10617.0|  58429| Fully Paid|     7475.0|   CA|       7475.0| 36 months|  0.1629|   18|     14 June 2014|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YidceDE3XHhjMSVce...|    Customer Service|   5 years|          RENT|   77000.0|            NULL|       Not Verified|   553xx|        MN|     2901.0|    31916.0| 213512|    Current|    23500.0|   MN|      23500.0| 60 months|  0.0992|    9|    18 April 2018|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceDEyRFx4Yjlce...|          Supervisor|   6 years|      MORTGAGE|  100000.0|            NULL|       Not Verified|   604xx|        IL|     5200.0|   166413.0| 196852|    Current|    20000.0|   IL|      20000.0| 60 months|  0.1033|   10|     19 June 2019|     false|Individual|    small_business|            Business|
|Yic9Klx4ZjNceGQ2X...|             Carrier|   3 years|          RENT|   32000.0|            NULL|       Not Verified|   687xx|        NE|      378.0|     1891.0|   4127| Fully Paid|     2000.0|   NE|       2000.0| 36 months|  0.1033|   10|     19 July 2019|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceDA3XHg4MTdce...|     Closing Manager| 10+ years|      MORTGAGE|  180000.0|            NULL|           Verified|   027xx|        MA|    60760.0|   364560.0| 254497|    Current|    35000.0|   MA|      35000.0| 36 months|  0.0824|    7|      17 May 2017|     false|Individual|debt_consolidation|  Debt consolidation|
|YidHU1x4YjlPK1x4Z...|Director of Curri...| 10+ years|      MORTGAGE|  105000.0|            NULL|           Verified|   497xx|        MI|    13083.0|   170084.0| 163619| Fully Paid|    16000.0|   MI|      16000.0| 36 months|   0.089|    3|    14 April 2014|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YidceDg4XHgxNFx4M...|                NULL|      NULL|          RENT|   37000.0|            NULL|           Verified|   787xx|        TX|     2962.0|    17770.0| 160052|Charged Off|    15475.0|   TX|      15475.0| 60 months|    NULL|   23|  15 January 2015|     false|Individual|       credit_card|Credit card refin...|
|YidceDEyXHhkMVx4Y...|      Branch Manager|    1 year|           OWN|   32000.0|            NULL|       Not Verified|   612xx|        IL|     2393.0|    35897.0|  82345|    Current|    10000.0|   IL|      10000.0| 36 months|  0.1903|   16| 17 December 2017|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceDhmXHg5M1x4Y...|              Deputy| 10+ years|      MORTGAGE|   51000.0|            NULL|       Not Verified|   218xx|        MD|    37243.0|   223457.0| 126085| Fully Paid|    12000.0|   MD|      12000.0| 60 months|  0.1398|   11|  14 October 2014|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YidceGEwXHgxNlx4Y...|Resource Senior S...|   7 years|      MORTGAGE|   86000.0|        126000.0|    Source Verified|   322xx|        FL|    16920.0|   169200.0| 177808|    Current|    18000.0|   FL|      18000.0| 36 months|  0.1091|    9| 17 December 2017|     false| Joint App|       credit_card|Credit card refin...|
|YidceGM0dVx4YzJce...|System Administrator| 10+ years|           OWN|   50000.0|            NULL|    Source Verified|   245xx|        VA|     6101.0|    48811.0| 203681| Fully Paid|    20800.0|   VA|      20800.0| 60 months|  0.1416|   11|    14 March 2014|     false|INDIVIDUAL|       credit_card|Credit card refin...|
+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+
only showing top 20 rows

In [6]:
num_partitions = df.rdd.getNumPartitions()
print(f"Number of partitions: {num_partitions}")

Number of partitions: 1

In [7]:
import psutil
logical_cores = psutil.cpu_count(logical=True)
physical_cores = psutil.cpu_count(logical=False)

print(f"Number of logical cores: {logical_cores}")
print(f"Number of physical cores: {physical_cores}")

Number of logical cores: 2
Number of physical cores: 1

In [8]:
df = df.repartition(logical_cores)

num_partitions_new = df.rdd.getNumPartitions()
print(f"New number of partitions: {num_partitions_new}")

New number of partitions: 2

# Cleaning
- Rename all columns (replacing a space with an underscore, and making it
lowercase)
- Detect missing
  - Create a function that takes in the df and returns any data structrue of your choice(df/dict,list,tuple,etc) which has the name of the column and percentage of missing entries from the whole dataset.
  - Tip : storing the missing info as dict where the key is the column name and value is the percentage would be the easiest.
  - Prinout the missing info
- Handle missing
  - For numerical features replace with 0.
  - For categorical/strings replace with mode
- Check missing
  - Afterwards, check that there are no missing values

### Rename Columns

In [9]:
from pyspark.sql.functions import col

# Rename columns
new_columns = [col(c).alias(c.replace(" ", "_").lower()) for c in df.columns]
df = df.select(*new_columns)

In [10]:
df.show()

+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+
|         customer_id|           emp_title|emp_length|home_ownership|annual_inc|annual_inc_joint|verification_status|zip_code|addr_state|avg_cur_bal|tot_cur_bal|loan_id|loan_status|loan_amount|state|funded_amount|      term|int_rate|grade|       issue_date|pymnt_plan|      type|           purpose|         description|
+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+
|YidceGJlT1x4YTJce...|Interpreter Coord...| 10+ years|      MORTGAGE|  110000.0|            NULL|    Source Verified|   144xx|        NY|    25610.0|   204877.0| 170737| Fully Paid|    16575.0|   NY|      16575.0| 36 months|  0.1249|    6|  14 October 2014|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YidnOjxceGE5XHgwM...|   Building Engineer| 10+ years|      MORTGAGE|   54500.0|            NULL|           Verified|   891xx|        NV|    19086.0|   267200.0|  35368|    Current|     5300.0|   NV|       5300.0| 36 months|  0.0992|    9|    18 April 2018|     false|Individual|       credit_card|Credit card refin...|
|YidFXHg5M1x4ZTNce...|          supervisor|   5 years|          RENT|   40000.0|            NULL|    Source Verified|   641xx|        MO|     1703.0|    11920.0|  37086| Fully Paid|     5500.0|   MO|       5500.0| 36 months|  0.1903|   19|      17 May 2017|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceGE5XHhkY1NfX...|     Police officer |   2 years|          RENT|   70000.0|            NULL|       Not Verified|   112xx|        NY|     1295.0|    49213.0|  62526|    Current|     8000.0|   NY|       8000.0| 36 months|  0.0702|    4| 19 December 2019|     false|Individual|          vacation|            Vacation|
|YidEXHg5NVBceDhiV...|                NULL|  < 1 year|          RENT|  266000.0|            NULL|       Not Verified|   450xx|        OH|     6233.0|    49865.0| 195846|    Current|    20000.0|   OH|      20000.0| 36 months|  0.2055|   19|19 September 2019|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceGQyXHhjNlx4Z...|Occupational Ther...| 10+ years|           OWN|   91664.0|            NULL|       Not Verified|   481xx|        MI|     5912.0|    70938.0| 109599|    Current|    11000.0|   MI|      11000.0| 36 months|  0.0819|    4|     19 July 2019|     false|Individual|       credit_card|Credit card refin...|
|YidwXHhhMTZceGRiX...|                NULL|      NULL|           OWN|   57000.0|            NULL|           Verified|   145xx|        NY|     2599.0|    23393.0| 149151|    Current|    15000.0|   NY|      15000.0| 36 months|    NULL|    6|    16 March 2016|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YiJceGFlXHhmZFx4O...|Social Studies Te...|   9 years|          RENT|   62000.0|            NULL|       Not Verified|   151xx|        PA|     3205.0|    35260.0|  25613|    Current|     5000.0|   PA|       5000.0| 36 months|  0.0649|    5|      16 May 2016|     false|INDIVIDUAL|             other|               Other|
|YidceDE1XHgxYlx4M...|              Driver| 10+ years|          RENT|   62000.0|            NULL|           Verified|   272xx|        NC|     5153.0|    66992.0|  93529|Charged Off|    10000.0|   NC|      10000.0| 36 months|  0.1269|   11|     15 July 2015|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceDdmXHhlMFx4Z...|             Ofc Mgr| 10+ years|      MORTGAGE|   71000.0|            NULL|       Not Verified|   416xx|        KY|     2184.0|    19654.0|  20665|    Current|     4200.0|   KY|       4200.0| 36 months|  0.0916|    7|    16 March 2016|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YidceGQ2XHhlZFx4Z...|    Operations Clerk| 10+ years|      MORTGAGE|   34000.0|            NULL|       Not Verified|   300xx|        GA|     8797.0|   131958.0| 159625|    Current|    15250.0|   GA|      15250.0| 60 months|  0.1629|   16|     14 July 2014|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YidceDg3XHhiMX5WX...|      Vice President| 10+ years|          RENT|   84000.0|            NULL|       Not Verified|   913xx|        CA|     1045.0|     9402.0|  55944|    Current|     7050.0|   CA|       7050.0| 36 months|  0.0603|    2|  14 October 2014|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|Yid7XHhlZSRceGFlX...|  Software Developer|   2 years|      MORTGAGE|   65000.0|            NULL|           Verified|   100xx|        NY|    16725.0|   284324.0| 114885| Fully Paid|    11900.0|   NY|      11900.0| 60 months|    NULL|   11|    16 March 2016|     false|INDIVIDUAL|       credit_card|Credit card refin...|
|YidlXHg5M1x4ODBce...|Marine Systems Br...|   3 years|          RENT|   85000.0|            NULL|    Source Verified|   967xx|        HI|     1326.0|    17238.0|  38973|    Current|     6000.0|   HI|       6000.0| 36 months|  0.0531|    4|    18 April 2018|     false|Individual|    major_purchase|      Major purchase|
|YidceGE5UVx4YWVvX...|                 CNA|   7 years|          RENT|   50000.0|         75000.0|       Not Verified|   950xx|        CA|     2292.0|    16047.0| 147874|    Current|    15000.0|   CA|      15000.0| 36 months|  0.0799|    2|    17 April 2017|     false| Joint App|       credit_card|Credit card refin...|
|Yic6XHg5ND5ceDEzY...|                NULL|      NULL|           OWN|   71000.0|            NULL|    Source Verified|   700xx|        LA|     2120.0|    21195.0|  28829|    Current|     5000.0|   LA|       5000.0| 36 months|  0.1075|    6| 16 February 2016|     false|INDIVIDUAL|debt_consolidation|                NULL|
|YiJhclx4MDhceDhmJ...|     General Managee| 10+ years|           OWN|   75000.0|            NULL|           Verified|   757xx|        TX|    18915.0|   151317.0|  45484| Fully Paid|     6000.0|   TX|       6000.0| 36 months|    NULL|   11|      17 May 2017|     false|Individual|       credit_card|Credit card refin...|
|YidceDk4PFx4ZWRkX...|        Chair person| 10+ years|          RENT|   75000.0|            NULL|    Source Verified|   100xx|        NY|     4019.0|    52248.0| 150711|Charged Off|    15000.0|   NY|      15000.0| 36 months|    NULL|    7| 17 February 2017|     false|Individual|    small_business|            Business|
|YidceGUxXHg4MVx4Z...|           secretary| 10+ years|           OWN|   30000.0|         75000.0|       Not Verified|   496xx|        MI|     3856.0|    50132.0| 207509|    Current|    21275.0|   MI|      21275.0| 36 months|  0.1862|   18| 19 December 2019|     false| Joint App|debt_consolidation|  Debt consolidation|
|YidceGVmXHhkY1x4Y...|Customer Service ...| 10+ years|           OWN|   27800.0|            NULL|    Source Verified|   616xx|        IL|      716.0|     5726.0|  81284| Fully Paid|     9875.0|   IL|       9875.0| 36 months|  0.1015|   10|      14 May 2014|     false|INDIVIDUAL|       credit_card|Credit card refin...|
+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+
only showing top 20 rows

### Detect Missing

In [11]:
def detect_missing(df):
  """
  Detects missing values in a PySpark DataFrame and returns a dictionary
  containing column names and their corresponding missing value percentages.

  Args:
    df: The input PySpark DataFrame.

  Returns:
    A dictionary where keys are column names and values are the percentage of
    missing values in each column.
  """
  missing_info = {}
  total_rows = df.count()
  for col_name in df.columns:
    missing_count = df.filter(col(col_name).isNull()).count()
    missing_percentage = (missing_count / total_rows) * 100 if total_rows > 0 else 0
    missing_info[col_name] = missing_percentage
  return missing_info

In [12]:
missing_info = detect_missing(df)

In [13]:
missing_info

{'customer_id': 0.0,
 'emp_title': 8.749537550869405,
 'emp_length': 6.933037365889752,
 'home_ownership': 0.0,
 'annual_inc': 0.0,
 'annual_inc_joint': 92.90418054014057,
 'verification_status': 0.0,
 'zip_code': 0.0,
 'addr_state': 0.0,
 'avg_cur_bal': 0.0,
 'tot_cur_bal': 0.0,
 'loan_id': 0.0,
 'loan_status': 0.0,
 'loan_amount': 0.0,
 'state': 0.0,
 'funded_amount': 0.0,
 'term': 0.0,
 'int_rate': 4.594894561598224,
 'grade': 0.0,
 'issue_date': 0.0,
 'pymnt_plan': 0.0,
 'type': 0.0,
 'purpose': 0.0,
 'description': 0.8620051794302628}

### Handle Missing

In [14]:
from pyspark.sql.functions import col, when, count, lit

for col_name, missing_percentage in missing_info.items():
    if missing_percentage > 0:
      if df.schema[col_name].dataType.typeName() in ['int', 'double', 'float', 'long']:
          df = df.fillna(0, subset=[col_name])
      else: # Assuming other data types are categorical/strings
          mode_df = df.groupBy(col_name).count().orderBy(col("count").desc()).limit(2)
          mode_value = mode_df.collect()[0][col_name]
          mode_df.show()
          if mode_value is None: # if the first element in mode df is null check next element
            mode_value = mode_df.collect()[1][col_name]
          print(f"Mode value for column '{col_name}': {mode_value}\n")
          df = df.fillna(mode_value, subset=[col_name])

+---------+-----+
|emp_title|count|
+---------+-----+
|     NULL| 2365|
|  Teacher|  471|
+---------+-----+

Mode value for column 'emp_title': Teacher

+----------+-----+
|emp_length|count|
+----------+-----+
| 10+ years| 8837|
|  < 1 year| 2514|
+----------+-----+

Mode value for column 'emp_length': 10+ years

+--------------------+-----+
|         description|count|
+--------------------+-----+
|  Debt consolidation|14268|
|Credit card refin...| 6172|
+--------------------+-----+

Mode value for column 'description': Debt consolidation

### Check Missing

In [15]:
detect_missing(df)

{'customer_id': 0.0,
 'emp_title': 0.0,
 'emp_length': 0.0,
 'home_ownership': 0.0,
 'annual_inc': 0.0,
 'annual_inc_joint': 0.0,
 'verification_status': 0.0,
 'zip_code': 0.0,
 'addr_state': 0.0,
 'avg_cur_bal': 0.0,
 'tot_cur_bal': 0.0,
 'loan_id': 0.0,
 'loan_status': 0.0,
 'loan_amount': 0.0,
 'state': 0.0,
 'funded_amount': 0.0,
 'term': 0.0,
 'int_rate': 0.0,
 'grade': 0.0,
 'issue_date': 0.0,
 'pymnt_plan': 0.0,
 'type': 0.0,
 'purpose': 0.0,
 'description': 0.0}

In [16]:
df.show()

+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+
|         customer_id|           emp_title|emp_length|home_ownership|annual_inc|annual_inc_joint|verification_status|zip_code|addr_state|avg_cur_bal|tot_cur_bal|loan_id|loan_status|loan_amount|state|funded_amount|      term|int_rate|grade|       issue_date|pymnt_plan|      type|           purpose|         description|
+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+
|YidceGJlT1x4YTJce...|Interpreter Coord...| 10+ years|      MORTGAGE|  110000.0|             0.0|    Source Verified|   144xx|        NY|    25610.0|   204877.0| 170737| Fully Paid|    16575.0|   NY|      16575.0| 36 months|  0.1249|    6|  14 October 2014|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YidnOjxceGE5XHgwM...|   Building Engineer| 10+ years|      MORTGAGE|   54500.0|             0.0|           Verified|   891xx|        NV|    19086.0|   267200.0|  35368|    Current|     5300.0|   NV|       5300.0| 36 months|  0.0992|    9|    18 April 2018|     false|Individual|       credit_card|Credit card refin...|
|YidFXHg5M1x4ZTNce...|          supervisor|   5 years|          RENT|   40000.0|             0.0|    Source Verified|   641xx|        MO|     1703.0|    11920.0|  37086| Fully Paid|     5500.0|   MO|       5500.0| 36 months|  0.1903|   19|      17 May 2017|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceGE5XHhkY1NfX...|     Police officer |   2 years|          RENT|   70000.0|             0.0|       Not Verified|   112xx|        NY|     1295.0|    49213.0|  62526|    Current|     8000.0|   NY|       8000.0| 36 months|  0.0702|    4| 19 December 2019|     false|Individual|          vacation|            Vacation|
|YidEXHg5NVBceDhiV...|             Teacher|  < 1 year|          RENT|  266000.0|             0.0|       Not Verified|   450xx|        OH|     6233.0|    49865.0| 195846|    Current|    20000.0|   OH|      20000.0| 36 months|  0.2055|   19|19 September 2019|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceGQyXHhjNlx4Z...|Occupational Ther...| 10+ years|           OWN|   91664.0|             0.0|       Not Verified|   481xx|        MI|     5912.0|    70938.0| 109599|    Current|    11000.0|   MI|      11000.0| 36 months|  0.0819|    4|     19 July 2019|     false|Individual|       credit_card|Credit card refin...|
|YidwXHhhMTZceGRiX...|             Teacher| 10+ years|           OWN|   57000.0|             0.0|           Verified|   145xx|        NY|     2599.0|    23393.0| 149151|    Current|    15000.0|   NY|      15000.0| 36 months|     0.0|    6|    16 March 2016|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YiJceGFlXHhmZFx4O...|Social Studies Te...|   9 years|          RENT|   62000.0|             0.0|       Not Verified|   151xx|        PA|     3205.0|    35260.0|  25613|    Current|     5000.0|   PA|       5000.0| 36 months|  0.0649|    5|      16 May 2016|     false|INDIVIDUAL|             other|               Other|
|YidceDE1XHgxYlx4M...|              Driver| 10+ years|          RENT|   62000.0|             0.0|           Verified|   272xx|        NC|     5153.0|    66992.0|  93529|Charged Off|    10000.0|   NC|      10000.0| 36 months|  0.1269|   11|     15 July 2015|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceDdmXHhlMFx4Z...|             Ofc Mgr| 10+ years|      MORTGAGE|   71000.0|             0.0|       Not Verified|   416xx|        KY|     2184.0|    19654.0|  20665|    Current|     4200.0|   KY|       4200.0| 36 months|  0.0916|    7|    16 March 2016|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YidceGQ2XHhlZFx4Z...|    Operations Clerk| 10+ years|      MORTGAGE|   34000.0|             0.0|       Not Verified|   300xx|        GA|     8797.0|   131958.0| 159625|    Current|    15250.0|   GA|      15250.0| 60 months|  0.1629|   16|     14 July 2014|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YidceDg3XHhiMX5WX...|      Vice President| 10+ years|          RENT|   84000.0|             0.0|       Not Verified|   913xx|        CA|     1045.0|     9402.0|  55944|    Current|     7050.0|   CA|       7050.0| 36 months|  0.0603|    2|  14 October 2014|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|Yid7XHhlZSRceGFlX...|  Software Developer|   2 years|      MORTGAGE|   65000.0|             0.0|           Verified|   100xx|        NY|    16725.0|   284324.0| 114885| Fully Paid|    11900.0|   NY|      11900.0| 60 months|     0.0|   11|    16 March 2016|     false|INDIVIDUAL|       credit_card|Credit card refin...|
|YidlXHg5M1x4ODBce...|Marine Systems Br...|   3 years|          RENT|   85000.0|             0.0|    Source Verified|   967xx|        HI|     1326.0|    17238.0|  38973|    Current|     6000.0|   HI|       6000.0| 36 months|  0.0531|    4|    18 April 2018|     false|Individual|    major_purchase|      Major purchase|
|YidceGE5UVx4YWVvX...|                 CNA|   7 years|          RENT|   50000.0|         75000.0|       Not Verified|   950xx|        CA|     2292.0|    16047.0| 147874|    Current|    15000.0|   CA|      15000.0| 36 months|  0.0799|    2|    17 April 2017|     false| Joint App|       credit_card|Credit card refin...|
|Yic6XHg5ND5ceDEzY...|             Teacher| 10+ years|           OWN|   71000.0|             0.0|    Source Verified|   700xx|        LA|     2120.0|    21195.0|  28829|    Current|     5000.0|   LA|       5000.0| 36 months|  0.1075|    6| 16 February 2016|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YiJhclx4MDhceDhmJ...|     General Managee| 10+ years|           OWN|   75000.0|             0.0|           Verified|   757xx|        TX|    18915.0|   151317.0|  45484| Fully Paid|     6000.0|   TX|       6000.0| 36 months|     0.0|   11|      17 May 2017|     false|Individual|       credit_card|Credit card refin...|
|YidceDk4PFx4ZWRkX...|        Chair person| 10+ years|          RENT|   75000.0|             0.0|    Source Verified|   100xx|        NY|     4019.0|    52248.0| 150711|Charged Off|    15000.0|   NY|      15000.0| 36 months|     0.0|    7| 17 February 2017|     false|Individual|    small_business|            Business|
|YidceGUxXHg4MVx4Z...|           secretary| 10+ years|           OWN|   30000.0|         75000.0|       Not Verified|   496xx|        MI|     3856.0|    50132.0| 207509|    Current|    21275.0|   MI|      21275.0| 36 months|  0.1862|   18| 19 December 2019|     false| Joint App|debt_consolidation|  Debt consolidation|
|YidceGVmXHhkY1x4Y...|Customer Service ...| 10+ years|           OWN|   27800.0|             0.0|    Source Verified|   616xx|        IL|      716.0|     5726.0|  81284| Fully Paid|     9875.0|   IL|       9875.0| 36 months|  0.1015|   10|      14 May 2014|     false|INDIVIDUAL|       credit_card|Credit card refin...|
+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+
only showing top 20 rows

> no missing values left

# Encoding
## Encode only the following categorical values
- Emp Length: Change to numerical
- Home Ownership: One Hot Encoding
- Verification Status: One Hot Encoding
- State: Label Encoding
- Type: One Hot Encoding
- Purpose: Label Encoding
- For the **grade**, only descretize it to be letter grade, not need to label encode it further

### Creating lookup table

In [17]:
from pyspark.sql.types import StructType, StructField, StringType

columns = ["Column", "Original", "Encoded"]

schema = StructType([StructField(col_name, StringType(), True) for col_name in columns])

empty_rdd = spark.sparkContext.emptyRDD()
lookup_table = spark.createDataFrame(empty_rdd, schema = schema)
lookup_table.show()

+------+--------+-------+
|Column|Original|Encoded|
+------+--------+-------+
+------+--------+-------+

### Emp Length Encoding

In [18]:
from pyspark.sql.functions import split, regexp_extract, col, when
from pyspark.sql import Row

# Get distinct emp lengths for lookup table
distinct_emp_lengths = df.select("emp_length").distinct().rdd.flatMap(lambda x: x).collect()

# Replace values starting with '<' with '0'
encoded_df = df.withColumn("emp_length", when(col("emp_length").startswith("<"), "0").otherwise(col("emp_length")))

# Extract the first numerical part using regex and split
encoded_df = encoded_df.withColumn("emp_length", regexp_extract(col("emp_length"), "(\d+)", 1))
encoded_df = encoded_df.withColumn("emp_length", when(col("emp_length") != "", col("emp_length").cast("int")).otherwise(0))  # Replace empty strings with 0

encoded_df.show()

# Get encoded emp lengths for lookup table
encoded_emp_lengths = encoded_df.select("emp_length").distinct().rdd.flatMap(lambda x: x).collect()
for original in distinct_emp_lengths:
    new_row = spark.createDataFrame([Row(Column="emp_length", Original=str(original), Encoded= str(original))]).\
    withColumn("Encoded", when(col("Original").startswith("<"), "0").otherwise(col("Original"))).\
    withColumn("Encoded", regexp_extract(col("Encoded"), "(\d+)", 1)).\
    withColumn("Encoded", when(col("Encoded") != "", col("Encoded").cast("int")).otherwise(0))
    lookup_table = lookup_table.union(new_row)

lookup_table.show()

+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+
|         customer_id|           emp_title|emp_length|home_ownership|annual_inc|annual_inc_joint|verification_status|zip_code|addr_state|avg_cur_bal|tot_cur_bal|loan_id|loan_status|loan_amount|state|funded_amount|      term|int_rate|grade|       issue_date|pymnt_plan|      type|           purpose|         description|
+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+
|YidceGJlT1x4YTJce...|Interpreter Coord...|        10|      MORTGAGE|  110000.0|             0.0|    Source Verified|   144xx|        NY|    25610.0|   204877.0| 170737| Fully Paid|    16575.0|   NY|      16575.0| 36 months|  0.1249|    6|  14 October 2014|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YidnOjxceGE5XHgwM...|   Building Engineer|        10|      MORTGAGE|   54500.0|             0.0|           Verified|   891xx|        NV|    19086.0|   267200.0|  35368|    Current|     5300.0|   NV|       5300.0| 36 months|  0.0992|    9|    18 April 2018|     false|Individual|       credit_card|Credit card refin...|
|YidFXHg5M1x4ZTNce...|          supervisor|         5|          RENT|   40000.0|             0.0|    Source Verified|   641xx|        MO|     1703.0|    11920.0|  37086| Fully Paid|     5500.0|   MO|       5500.0| 36 months|  0.1903|   19|      17 May 2017|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceGE5XHhkY1NfX...|     Police officer |         2|          RENT|   70000.0|             0.0|       Not Verified|   112xx|        NY|     1295.0|    49213.0|  62526|    Current|     8000.0|   NY|       8000.0| 36 months|  0.0702|    4| 19 December 2019|     false|Individual|          vacation|            Vacation|
|YidEXHg5NVBceDhiV...|             Teacher|         0|          RENT|  266000.0|             0.0|       Not Verified|   450xx|        OH|     6233.0|    49865.0| 195846|    Current|    20000.0|   OH|      20000.0| 36 months|  0.2055|   19|19 September 2019|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceGQyXHhjNlx4Z...|Occupational Ther...|        10|           OWN|   91664.0|             0.0|       Not Verified|   481xx|        MI|     5912.0|    70938.0| 109599|    Current|    11000.0|   MI|      11000.0| 36 months|  0.0819|    4|     19 July 2019|     false|Individual|       credit_card|Credit card refin...|
|YidwXHhhMTZceGRiX...|             Teacher|        10|           OWN|   57000.0|             0.0|           Verified|   145xx|        NY|     2599.0|    23393.0| 149151|    Current|    15000.0|   NY|      15000.0| 36 months|     0.0|    6|    16 March 2016|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YiJceGFlXHhmZFx4O...|Social Studies Te...|         9|          RENT|   62000.0|             0.0|       Not Verified|   151xx|        PA|     3205.0|    35260.0|  25613|    Current|     5000.0|   PA|       5000.0| 36 months|  0.0649|    5|      16 May 2016|     false|INDIVIDUAL|             other|               Other|
|YidceDE1XHgxYlx4M...|              Driver|        10|          RENT|   62000.0|             0.0|           Verified|   272xx|        NC|     5153.0|    66992.0|  93529|Charged Off|    10000.0|   NC|      10000.0| 36 months|  0.1269|   11|     15 July 2015|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceDdmXHhlMFx4Z...|             Ofc Mgr|        10|      MORTGAGE|   71000.0|             0.0|       Not Verified|   416xx|        KY|     2184.0|    19654.0|  20665|    Current|     4200.0|   KY|       4200.0| 36 months|  0.0916|    7|    16 March 2016|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YidceGQ2XHhlZFx4Z...|    Operations Clerk|        10|      MORTGAGE|   34000.0|             0.0|       Not Verified|   300xx|        GA|     8797.0|   131958.0| 159625|    Current|    15250.0|   GA|      15250.0| 60 months|  0.1629|   16|     14 July 2014|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YidceDg3XHhiMX5WX...|      Vice President|        10|          RENT|   84000.0|             0.0|       Not Verified|   913xx|        CA|     1045.0|     9402.0|  55944|    Current|     7050.0|   CA|       7050.0| 36 months|  0.0603|    2|  14 October 2014|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|Yid7XHhlZSRceGFlX...|  Software Developer|         2|      MORTGAGE|   65000.0|             0.0|           Verified|   100xx|        NY|    16725.0|   284324.0| 114885| Fully Paid|    11900.0|   NY|      11900.0| 60 months|     0.0|   11|    16 March 2016|     false|INDIVIDUAL|       credit_card|Credit card refin...|
|YidlXHg5M1x4ODBce...|Marine Systems Br...|         3|          RENT|   85000.0|             0.0|    Source Verified|   967xx|        HI|     1326.0|    17238.0|  38973|    Current|     6000.0|   HI|       6000.0| 36 months|  0.0531|    4|    18 April 2018|     false|Individual|    major_purchase|      Major purchase|
|YidceGE5UVx4YWVvX...|                 CNA|         7|          RENT|   50000.0|         75000.0|       Not Verified|   950xx|        CA|     2292.0|    16047.0| 147874|    Current|    15000.0|   CA|      15000.0| 36 months|  0.0799|    2|    17 April 2017|     false| Joint App|       credit_card|Credit card refin...|
|Yic6XHg5ND5ceDEzY...|             Teacher|        10|           OWN|   71000.0|             0.0|    Source Verified|   700xx|        LA|     2120.0|    21195.0|  28829|    Current|     5000.0|   LA|       5000.0| 36 months|  0.1075|    6| 16 February 2016|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YiJhclx4MDhceDhmJ...|     General Managee|        10|           OWN|   75000.0|             0.0|           Verified|   757xx|        TX|    18915.0|   151317.0|  45484| Fully Paid|     6000.0|   TX|       6000.0| 36 months|     0.0|   11|      17 May 2017|     false|Individual|       credit_card|Credit card refin...|
|YidceDk4PFx4ZWRkX...|        Chair person|        10|          RENT|   75000.0|             0.0|    Source Verified|   100xx|        NY|     4019.0|    52248.0| 150711|Charged Off|    15000.0|   NY|      15000.0| 36 months|     0.0|    7| 17 February 2017|     false|Individual|    small_business|            Business|
|YidceGUxXHg4MVx4Z...|           secretary|        10|           OWN|   30000.0|         75000.0|       Not Verified|   496xx|        MI|     3856.0|    50132.0| 207509|    Current|    21275.0|   MI|      21275.0| 36 months|  0.1862|   18| 19 December 2019|     false| Joint App|debt_consolidation|  Debt consolidation|
|YidceGVmXHhkY1x4Y...|Customer Service ...|        10|           OWN|   27800.0|             0.0|    Source Verified|   616xx|        IL|      716.0|     5726.0|  81284| Fully Paid|     9875.0|   IL|       9875.0| 36 months|  0.1015|   10|      14 May 2014|     false|INDIVIDUAL|       credit_card|Credit card refin...|
+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+
only showing top 20 rows

+----------+---------+-------+
|    Column| Original|Encoded|
+----------+---------+-------+
|emp_length|  5 years|      5|
|emp_length|  9 years|      9|
|emp_length|   1 year|      1|
|emp_length|  2 years|      2|
|emp_length|  7 years|      7|
|emp_length|  8 years|      8|
|emp_length|  4 years|      4|
|emp_length|  6 years|      6|
|emp_length|  3 years|      3|
|emp_length|10+ years|     10|
|emp_length| < 1 year|      0|
+----------+---------+-------+

### Dealing with type column inconsistenceis

> Before one hot encoding convert all "joint app" to "JOINT" and "Individual" to "INDIVIDUAL" in type column

In [19]:
distinct_types = encoded_df.select("type").distinct().rdd.flatMap(lambda x: x).collect()
distinct_types

['Joint App', 'Individual', 'DIRECT_PAY', 'JOINT', 'INDIVIDUAL']

In [20]:
encoded_df = encoded_df.withColumn("type", when(df["type"] == "Individual", "INDIVIDUAL").when(df["type"] == "Joint App", "JOINT").otherwise(df["type"]))

In [21]:
distinct_types = encoded_df.select("type").distinct().rdd.flatMap(lambda x: x).collect()
distinct_types

['DIRECT_PAY', 'JOINT', 'INDIVIDUAL']

### One Hot Encoder

In [22]:
def one_hot_encode(df, column_name):
    """
    One-hot encodes a categorical column in a PySpark DataFrame.

    Args:
      df: The input PySpark DataFrame.
      column_name: The name of the categorical column to be one-hot encoded.

    Returns:
      A new PySpark DataFrame with the one-hot encoded column.
    """

    # 1. Get unique categories (casting to string to avoid nulls)
    categories = df.select(col(column_name).cast("string")).distinct().rdd.flatMap(lambda x: x).collect()
    categories = [x for x in categories if x is not None] # Remove any potential nulls

    # 2. Create an expression to generate one-hot encoded columns
    exprs = [when(col(column_name) == c, lit(1)).otherwise(lit(0)).alias(f"{column_name}_{str(c)}") for c in categories]

    # 3. Apply the expression and select the new columns
    encoded_df = df.select(df.columns + exprs)

    # 4. Drop the original column
    encoded_df = encoded_df.drop(column_name)

    return encoded_df

### Home Ownership

In [23]:
from pyspark.sql.functions import lit, explode, array, create_map, col


# Select the categorical column to one-hot encode
encoded_df = one_hot_encode(encoded_df, "home_ownership")

encoded_df.show()

+--------------------+--------------------+----------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+------------------+-------------------+-----------------------+------------------+--------------------+
|         customer_id|           emp_title|emp_length|annual_inc|annual_inc_joint|verification_status|zip_code|addr_state|avg_cur_bal|tot_cur_bal|loan_id|loan_status|loan_amount|state|funded_amount|      term|int_rate|grade|       issue_date|pymnt_plan|      type|           purpose|         description|home_ownership_OWN|home_ownership_RENT|home_ownership_MORTGAGE|home_ownership_ANY|home_ownership_OTHER|
+--------------------+--------------------+----------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+------------------+-------------------+-----------------------+------------------+--------------------+
|YidceGJlT1x4YTJce...|Interpreter Coord...|        10|  110000.0|             0.0|    Source Verified|   144xx|        NY|    25610.0|   204877.0| 170737| Fully Paid|    16575.0|   NY|      16575.0| 36 months|  0.1249|    6|  14 October 2014|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|                 0|                  0|                      1|                 0|                   0|
|YidnOjxceGE5XHgwM...|   Building Engineer|        10|   54500.0|             0.0|           Verified|   891xx|        NV|    19086.0|   267200.0|  35368|    Current|     5300.0|   NV|       5300.0| 36 months|  0.0992|    9|    18 April 2018|     false|INDIVIDUAL|       credit_card|Credit card refin...|                 0|                  0|                      1|                 0|                   0|
|YidFXHg5M1x4ZTNce...|          supervisor|         5|   40000.0|             0.0|    Source Verified|   641xx|        MO|     1703.0|    11920.0|  37086| Fully Paid|     5500.0|   MO|       5500.0| 36 months|  0.1903|   19|      17 May 2017|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|                 0|                  1|                      0|                 0|                   0|
|YidceGE5XHhkY1NfX...|     Police officer |         2|   70000.0|             0.0|       Not Verified|   112xx|        NY|     1295.0|    49213.0|  62526|    Current|     8000.0|   NY|       8000.0| 36 months|  0.0702|    4| 19 December 2019|     false|INDIVIDUAL|          vacation|            Vacation|                 0|                  1|                      0|                 0|                   0|
|YidEXHg5NVBceDhiV...|             Teacher|         0|  266000.0|             0.0|       Not Verified|   450xx|        OH|     6233.0|    49865.0| 195846|    Current|    20000.0|   OH|      20000.0| 36 months|  0.2055|   19|19 September 2019|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|                 0|                  1|                      0|                 0|                   0|
|YidceGQyXHhjNlx4Z...|Occupational Ther...|        10|   91664.0|             0.0|       Not Verified|   481xx|        MI|     5912.0|    70938.0| 109599|    Current|    11000.0|   MI|      11000.0| 36 months|  0.0819|    4|     19 July 2019|     false|INDIVIDUAL|       credit_card|Credit card refin...|                 1|                  0|                      0|                 0|                   0|
|YidwXHhhMTZceGRiX...|             Teacher|        10|   57000.0|             0.0|           Verified|   145xx|        NY|     2599.0|    23393.0| 149151|    Current|    15000.0|   NY|      15000.0| 36 months|     0.0|    6|    16 March 2016|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|                 1|                  0|                      0|                 0|                   0|
|YiJceGFlXHhmZFx4O...|Social Studies Te...|         9|   62000.0|             0.0|       Not Verified|   151xx|        PA|     3205.0|    35260.0|  25613|    Current|     5000.0|   PA|       5000.0| 36 months|  0.0649|    5|      16 May 2016|     false|INDIVIDUAL|             other|               Other|                 0|                  1|                      0|                 0|                   0|
|YidceDE1XHgxYlx4M...|              Driver|        10|   62000.0|             0.0|           Verified|   272xx|        NC|     5153.0|    66992.0|  93529|Charged Off|    10000.0|   NC|      10000.0| 36 months|  0.1269|   11|     15 July 2015|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|                 0|                  1|                      0|                 0|                   0|
|YidceDdmXHhlMFx4Z...|             Ofc Mgr|        10|   71000.0|             0.0|       Not Verified|   416xx|        KY|     2184.0|    19654.0|  20665|    Current|     4200.0|   KY|       4200.0| 36 months|  0.0916|    7|    16 March 2016|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|                 0|                  0|                      1|                 0|                   0|
|YidceGQ2XHhlZFx4Z...|    Operations Clerk|        10|   34000.0|             0.0|       Not Verified|   300xx|        GA|     8797.0|   131958.0| 159625|    Current|    15250.0|   GA|      15250.0| 60 months|  0.1629|   16|     14 July 2014|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|                 0|                  0|                      1|                 0|                   0|
|YidceDg3XHhiMX5WX...|      Vice President|        10|   84000.0|             0.0|       Not Verified|   913xx|        CA|     1045.0|     9402.0|  55944|    Current|     7050.0|   CA|       7050.0| 36 months|  0.0603|    2|  14 October 2014|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|                 0|                  1|                      0|                 0|                   0|
|Yid7XHhlZSRceGFlX...|  Software Developer|         2|   65000.0|             0.0|           Verified|   100xx|        NY|    16725.0|   284324.0| 114885| Fully Paid|    11900.0|   NY|      11900.0| 60 months|     0.0|   11|    16 March 2016|     false|INDIVIDUAL|       credit_card|Credit card refin...|                 0|                  0|                      1|                 0|                   0|
|YidlXHg5M1x4ODBce...|Marine Systems Br...|         3|   85000.0|             0.0|    Source Verified|   967xx|        HI|     1326.0|    17238.0|  38973|    Current|     6000.0|   HI|       6000.0| 36 months|  0.0531|    4|    18 April 2018|     false|INDIVIDUAL|    major_purchase|      Major purchase|                 0|                  1|                      0|                 0|                   0|
|YidceGE5UVx4YWVvX...|                 CNA|         7|   50000.0|         75000.0|       Not Verified|   950xx|        CA|     2292.0|    16047.0| 147874|    Current|    15000.0|   CA|      15000.0| 36 months|  0.0799|    2|    17 April 2017|     false|     JOINT|       credit_card|Credit card refin...|                 0|                  1|                      0|                 0|                   0|
|Yic6XHg5ND5ceDEzY...|             Teacher|        10|   71000.0|             0.0|    Source Verified|   700xx|        LA|     2120.0|    21195.0|  28829|    Current|     5000.0|   LA|       5000.0| 36 months|  0.1075|    6| 16 February 2016|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|                 1|                  0|                      0|                 0|                   0|
|YiJhclx4MDhceDhmJ...|     General Managee|        10|   75000.0|             0.0|           Verified|   757xx|        TX|    18915.0|   151317.0|  45484| Fully Paid|     6000.0|   TX|       6000.0| 36 months|     0.0|   11|      17 May 2017|     false|INDIVIDUAL|       credit_card|Credit card refin...|                 1|                  0|                      0|                 0|                   0|
|YidceDk4PFx4ZWRkX...|        Chair person|        10|   75000.0|             0.0|    Source Verified|   100xx|        NY|     4019.0|    52248.0| 150711|Charged Off|    15000.0|   NY|      15000.0| 36 months|     0.0|    7| 17 February 2017|     false|INDIVIDUAL|    small_business|            Business|                 0|                  1|                      0|                 0|                   0|
|YidceGUxXHg4MVx4Z...|           secretary|        10|   30000.0|         75000.0|       Not Verified|   496xx|        MI|     3856.0|    50132.0| 207509|    Current|    21275.0|   MI|      21275.0| 36 months|  0.1862|   18| 19 December 2019|     false|     JOINT|debt_consolidation|  Debt consolidation|                 1|                  0|                      0|                 0|                   0|
|YidceGVmXHhkY1x4Y...|Customer Service ...|        10|   27800.0|             0.0|    Source Verified|   616xx|        IL|      716.0|     5726.0|  81284| Fully Paid|     9875.0|   IL|       9875.0| 36 months|  0.1015|   10|      14 May 2014|     false|INDIVIDUAL|       credit_card|Credit card refin...|                 1|                  0|                      0|                 0|                   0|
+--------------------+--------------------+----------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+------------------+-------------------+-----------------------+------------------+--------------------+
only showing top 20 rows

### Verification Status

In [24]:
encoded_df = one_hot_encode(encoded_df, "verification_status")

encoded_df.show()

+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+------------------+-------------------+-----------------------+------------------+--------------------+----------------------------+-----------------------------------+--------------------------------+
|         customer_id|           emp_title|emp_length|annual_inc|annual_inc_joint|zip_code|addr_state|avg_cur_bal|tot_cur_bal|loan_id|loan_status|loan_amount|state|funded_amount|      term|int_rate|grade|       issue_date|pymnt_plan|      type|           purpose|         description|home_ownership_OWN|home_ownership_RENT|home_ownership_MORTGAGE|home_ownership_ANY|home_ownership_OTHER|verification_status_Verified|verification_status_Source Verified|verification_status_Not Verified|
+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+------------------+-------------------+-----------------------+------------------+--------------------+----------------------------+-----------------------------------+--------------------------------+
|YidceGJlT1x4YTJce...|Interpreter Coord...|        10|  110000.0|             0.0|   144xx|        NY|    25610.0|   204877.0| 170737| Fully Paid|    16575.0|   NY|      16575.0| 36 months|  0.1249|    6|  14 October 2014|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|                 0|                  0|                      1|                 0|                   0|                           0|                                  1|                               0|
|YidnOjxceGE5XHgwM...|   Building Engineer|        10|   54500.0|             0.0|   891xx|        NV|    19086.0|   267200.0|  35368|    Current|     5300.0|   NV|       5300.0| 36 months|  0.0992|    9|    18 April 2018|     false|INDIVIDUAL|       credit_card|Credit card refin...|                 0|                  0|                      1|                 0|                   0|                           1|                                  0|                               0|
|YidFXHg5M1x4ZTNce...|          supervisor|         5|   40000.0|             0.0|   641xx|        MO|     1703.0|    11920.0|  37086| Fully Paid|     5500.0|   MO|       5500.0| 36 months|  0.1903|   19|      17 May 2017|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|                 0|                  1|                      0|                 0|                   0|                           0|                                  1|                               0|
|YidceGE5XHhkY1NfX...|     Police officer |         2|   70000.0|             0.0|   112xx|        NY|     1295.0|    49213.0|  62526|    Current|     8000.0|   NY|       8000.0| 36 months|  0.0702|    4| 19 December 2019|     false|INDIVIDUAL|          vacation|            Vacation|                 0|                  1|                      0|                 0|                   0|                           0|                                  0|                               1|
|YidEXHg5NVBceDhiV...|             Teacher|         0|  266000.0|             0.0|   450xx|        OH|     6233.0|    49865.0| 195846|    Current|    20000.0|   OH|      20000.0| 36 months|  0.2055|   19|19 September 2019|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|                 0|                  1|                      0|                 0|                   0|                           0|                                  0|                               1|
|YidceGQyXHhjNlx4Z...|Occupational Ther...|        10|   91664.0|             0.0|   481xx|        MI|     5912.0|    70938.0| 109599|    Current|    11000.0|   MI|      11000.0| 36 months|  0.0819|    4|     19 July 2019|     false|INDIVIDUAL|       credit_card|Credit card refin...|                 1|                  0|                      0|                 0|                   0|                           0|                                  0|                               1|
|YidwXHhhMTZceGRiX...|             Teacher|        10|   57000.0|             0.0|   145xx|        NY|     2599.0|    23393.0| 149151|    Current|    15000.0|   NY|      15000.0| 36 months|     0.0|    6|    16 March 2016|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|                 1|                  0|                      0|                 0|                   0|                           1|                                  0|                               0|
|YiJceGFlXHhmZFx4O...|Social Studies Te...|         9|   62000.0|             0.0|   151xx|        PA|     3205.0|    35260.0|  25613|    Current|     5000.0|   PA|       5000.0| 36 months|  0.0649|    5|      16 May 2016|     false|INDIVIDUAL|             other|               Other|                 0|                  1|                      0|                 0|                   0|                           0|                                  0|                               1|
|YidceDE1XHgxYlx4M...|              Driver|        10|   62000.0|             0.0|   272xx|        NC|     5153.0|    66992.0|  93529|Charged Off|    10000.0|   NC|      10000.0| 36 months|  0.1269|   11|     15 July 2015|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|                 0|                  1|                      0|                 0|                   0|                           1|                                  0|                               0|
|YidceDdmXHhlMFx4Z...|             Ofc Mgr|        10|   71000.0|             0.0|   416xx|        KY|     2184.0|    19654.0|  20665|    Current|     4200.0|   KY|       4200.0| 36 months|  0.0916|    7|    16 March 2016|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|                 0|                  0|                      1|                 0|                   0|                           0|                                  0|                               1|
|YidceGQ2XHhlZFx4Z...|    Operations Clerk|        10|   34000.0|             0.0|   300xx|        GA|     8797.0|   131958.0| 159625|    Current|    15250.0|   GA|      15250.0| 60 months|  0.1629|   16|     14 July 2014|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|                 0|                  0|                      1|                 0|                   0|                           0|                                  0|                               1|
|YidceDg3XHhiMX5WX...|      Vice President|        10|   84000.0|             0.0|   913xx|        CA|     1045.0|     9402.0|  55944|    Current|     7050.0|   CA|       7050.0| 36 months|  0.0603|    2|  14 October 2014|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|                 0|                  1|                      0|                 0|                   0|                           0|                                  0|                               1|
|Yid7XHhlZSRceGFlX...|  Software Developer|         2|   65000.0|             0.0|   100xx|        NY|    16725.0|   284324.0| 114885| Fully Paid|    11900.0|   NY|      11900.0| 60 months|     0.0|   11|    16 March 2016|     false|INDIVIDUAL|       credit_card|Credit card refin...|                 0|                  0|                      1|                 0|                   0|                           1|                                  0|                               0|
|YidlXHg5M1x4ODBce...|Marine Systems Br...|         3|   85000.0|             0.0|   967xx|        HI|     1326.0|    17238.0|  38973|    Current|     6000.0|   HI|       6000.0| 36 months|  0.0531|    4|    18 April 2018|     false|INDIVIDUAL|    major_purchase|      Major purchase|                 0|                  1|                      0|                 0|                   0|                           0|                                  1|                               0|
|YidceGE5UVx4YWVvX...|                 CNA|         7|   50000.0|         75000.0|   950xx|        CA|     2292.0|    16047.0| 147874|    Current|    15000.0|   CA|      15000.0| 36 months|  0.0799|    2|    17 April 2017|     false|     JOINT|       credit_card|Credit card refin...|                 0|                  1|                      0|                 0|                   0|                           0|                                  0|                               1|
|Yic6XHg5ND5ceDEzY...|             Teacher|        10|   71000.0|             0.0|   700xx|        LA|     2120.0|    21195.0|  28829|    Current|     5000.0|   LA|       5000.0| 36 months|  0.1075|    6| 16 February 2016|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|                 1|                  0|                      0|                 0|                   0|                           0|                                  1|                               0|
|YiJhclx4MDhceDhmJ...|     General Managee|        10|   75000.0|             0.0|   757xx|        TX|    18915.0|   151317.0|  45484| Fully Paid|     6000.0|   TX|       6000.0| 36 months|     0.0|   11|      17 May 2017|     false|INDIVIDUAL|       credit_card|Credit card refin...|                 1|                  0|                      0|                 0|                   0|                           1|                                  0|                               0|
|YidceDk4PFx4ZWRkX...|        Chair person|        10|   75000.0|             0.0|   100xx|        NY|     4019.0|    52248.0| 150711|Charged Off|    15000.0|   NY|      15000.0| 36 months|     0.0|    7| 17 February 2017|     false|INDIVIDUAL|    small_business|            Business|                 0|                  1|                      0|                 0|                   0|                           0|                                  1|                               0|
|YidceGUxXHg4MVx4Z...|           secretary|        10|   30000.0|         75000.0|   496xx|        MI|     3856.0|    50132.0| 207509|    Current|    21275.0|   MI|      21275.0| 36 months|  0.1862|   18| 19 December 2019|     false|     JOINT|debt_consolidation|  Debt consolidation|                 1|                  0|                      0|                 0|                   0|                           0|                                  0|                               1|
|YidceGVmXHhkY1x4Y...|Customer Service ...|        10|   27800.0|             0.0|   616xx|        IL|      716.0|     5726.0|  81284| Fully Paid|     9875.0|   IL|       9875.0| 36 months|  0.1015|   10|      14 May 2014|     false|INDIVIDUAL|       credit_card|Credit card refin...|                 1|                  0|                      0|                 0|                   0|                           0|                                  1|                               0|
+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+------------------+-------------------+-----------------------+------------------+--------------------+----------------------------+-----------------------------------+--------------------------------+
only showing top 20 rows

### Label encoder

In [25]:
from pyspark.ml.feature import StringIndexer
from pyspark.sql import Row

def label_encode(df, column_name, lookup_table):
    """
    Label encodes a categorical column in a PySpark DataFrame.

    Args:
      df: The input PySpark DataFrame.
      column_name: The name of the categorical column to be label encoded.

    Returns:
      A new PySpark DataFrame with the label encoded column.
    """
    # Create a StringIndexer object
    indexer = StringIndexer(inputCol=column_name, outputCol=f"{column_name}_encoded") # Temporary output column

    # Fit the indexer to the DataFrame
    indexer_model = indexer.fit(df)

    # Transform the DataFrame
    encoded_df = indexer_model.transform(df)

    # Get the mapping between original and encoded values
    mapping = indexer_model.labels

    # Add the mapping to the lookup table
    for encoded, original in enumerate(mapping):
        lookup_table = lookup_table.union(spark.createDataFrame([Row(Column=column_name, Original=str(original), Encoded=encoded)]))


    # Overwrite the original 'state' column with the encoded values
    encoded_df = encoded_df.drop(column_name).withColumnRenamed(f"{column_name}_encoded", column_name)
    return encoded_df, lookup_table

### State

In [26]:
encoded_df, lookup_table = label_encode(encoded_df, "state", lookup_table)

encoded_df.show()

+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+-----------+-----------+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+------------------+-------------------+-----------------------+------------------+--------------------+----------------------------+-----------------------------------+--------------------------------+-----+
|         customer_id|           emp_title|emp_length|annual_inc|annual_inc_joint|zip_code|addr_state|avg_cur_bal|tot_cur_bal|loan_id|loan_status|loan_amount|funded_amount|      term|int_rate|grade|       issue_date|pymnt_plan|      type|           purpose|         description|home_ownership_OWN|home_ownership_RENT|home_ownership_MORTGAGE|home_ownership_ANY|home_ownership_OTHER|verification_status_Verified|verification_status_Source Verified|verification_status_Not Verified|state|
+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+-----------+-----------+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+------------------+-------------------+-----------------------+------------------+--------------------+----------------------------+-----------------------------------+--------------------------------+-----+
|YidceGJlT1x4YTJce...|Interpreter Coord...|        10|  110000.0|             0.0|   144xx|        NY|    25610.0|   204877.0| 170737| Fully Paid|    16575.0|      16575.0| 36 months|  0.1249|    6|  14 October 2014|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|                 0|                  0|                      1|                 0|                   0|                           0|                                  1|                               0|  1.0|
|YidnOjxceGE5XHgwM...|   Building Engineer|        10|   54500.0|             0.0|   891xx|        NV|    19086.0|   267200.0|  35368|    Current|     5300.0|       5300.0| 36 months|  0.0992|    9|    18 April 2018|     false|INDIVIDUAL|       credit_card|Credit card refin...|                 0|                  0|                      1|                 0|                   0|                           1|                                  0|                               0| 21.0|
|YidFXHg5M1x4ZTNce...|          supervisor|         5|   40000.0|             0.0|   641xx|        MO|     1703.0|    11920.0|  37086| Fully Paid|     5500.0|       5500.0| 36 months|  0.1903|   19|      17 May 2017|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|                 0|                  1|                      0|                 0|                   0|                           0|                                  1|                               0| 22.0|
|YidceGE5XHhkY1NfX...|     Police officer |         2|   70000.0|             0.0|   112xx|        NY|     1295.0|    49213.0|  62526|    Current|     8000.0|       8000.0| 36 months|  0.0702|    4| 19 December 2019|     false|INDIVIDUAL|          vacation|            Vacation|                 0|                  1|                      0|                 0|                   0|                           0|                                  0|                               1|  1.0|
|YidEXHg5NVBceDhiV...|             Teacher|         0|  266000.0|             0.0|   450xx|        OH|     6233.0|    49865.0| 195846|    Current|    20000.0|      20000.0| 36 months|  0.2055|   19|19 September 2019|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|                 0|                  1|                      0|                 0|                   0|                           0|                                  0|                               1|  7.0|
|YidceGQyXHhjNlx4Z...|Occupational Ther...|        10|   91664.0|             0.0|   481xx|        MI|     5912.0|    70938.0| 109599|    Current|    11000.0|      11000.0| 36 months|  0.0819|    4|     19 July 2019|     false|INDIVIDUAL|       credit_card|Credit card refin...|                 1|                  0|                      0|                 0|                   0|                           0|                                  0|                               1| 11.0|
|YidwXHhhMTZceGRiX...|             Teacher|        10|   57000.0|             0.0|   145xx|        NY|     2599.0|    23393.0| 149151|    Current|    15000.0|      15000.0| 36 months|     0.0|    6|    16 March 2016|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|                 1|                  0|                      0|                 0|                   0|                           1|                                  0|                               0|  1.0|
|YiJceGFlXHhmZFx4O...|Social Studies Te...|         9|   62000.0|             0.0|   151xx|        PA|     3205.0|    35260.0|  25613|    Current|     5000.0|       5000.0| 36 months|  0.0649|    5|      16 May 2016|     false|INDIVIDUAL|             other|               Other|                 0|                  1|                      0|                 0|                   0|                           0|                                  0|                               1|  6.0|
|YidceDE1XHgxYlx4M...|              Driver|        10|   62000.0|             0.0|   272xx|        NC|     5153.0|    66992.0|  93529|Charged Off|    10000.0|      10000.0| 36 months|  0.1269|   11|     15 July 2015|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|                 0|                  1|                      0|                 0|                   0|                           1|                                  0|                               0|  9.0|
|YidceDdmXHhlMFx4Z...|             Ofc Mgr|        10|   71000.0|             0.0|   416xx|        KY|     2184.0|    19654.0|  20665|    Current|     4200.0|       4200.0| 36 months|  0.0916|    7|    16 March 2016|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|                 0|                  0|                      1|                 0|                   0|                           0|                                  0|                               1| 29.0|
|YidceGQ2XHhlZFx4Z...|    Operations Clerk|        10|   34000.0|             0.0|   300xx|        GA|     8797.0|   131958.0| 159625|    Current|    15250.0|      15250.0| 60 months|  0.1629|   16|     14 July 2014|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|                 0|                  0|                      1|                 0|                   0|                           0|                                  0|                               1|  8.0|
|YidceDg3XHhiMX5WX...|      Vice President|        10|   84000.0|             0.0|   913xx|        CA|     1045.0|     9402.0|  55944|    Current|     7050.0|       7050.0| 36 months|  0.0603|    2|  14 October 2014|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|                 0|                  1|                      0|                 0|                   0|                           0|                                  0|                               1|  0.0|
|Yid7XHhlZSRceGFlX...|  Software Developer|         2|   65000.0|             0.0|   100xx|        NY|    16725.0|   284324.0| 114885| Fully Paid|    11900.0|      11900.0| 60 months|     0.0|   11|    16 March 2016|     false|INDIVIDUAL|       credit_card|Credit card refin...|                 0|                  0|                      1|                 0|                   0|                           1|                                  0|                               0|  1.0|
|YidlXHg5M1x4ODBce...|Marine Systems Br...|         3|   85000.0|             0.0|   967xx|        HI|     1326.0|    17238.0|  38973|    Current|     6000.0|       6000.0| 36 months|  0.0531|    4|    18 April 2018|     false|INDIVIDUAL|    major_purchase|      Major purchase|                 0|                  1|                      0|                 0|                   0|                           0|                                  1|                               0| 33.0|
|YidceGE5UVx4YWVvX...|                 CNA|         7|   50000.0|         75000.0|   950xx|        CA|     2292.0|    16047.0| 147874|    Current|    15000.0|      15000.0| 36 months|  0.0799|    2|    17 April 2017|     false|     JOINT|       credit_card|Credit card refin...|                 0|                  1|                      0|                 0|                   0|                           0|                                  0|                               1|  0.0|
|Yic6XHg5ND5ceDEzY...|             Teacher|        10|   71000.0|             0.0|   700xx|        LA|     2120.0|    21195.0|  28829|    Current|     5000.0|       5000.0| 36 months|  0.1075|    6| 16 February 2016|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|                 1|                  0|                      0|                 0|                   0|                           0|                                  1|                               0| 25.0|
|YiJhclx4MDhceDhmJ...|     General Managee|        10|   75000.0|             0.0|   757xx|        TX|    18915.0|   151317.0|  45484| Fully Paid|     6000.0|       6000.0| 36 months|     0.0|   11|      17 May 2017|     false|INDIVIDUAL|       credit_card|Credit card refin...|                 1|                  0|                      0|                 0|                   0|                           1|                                  0|                               0|  2.0|
|YidceDk4PFx4ZWRkX...|        Chair person|        10|   75000.0|             0.0|   100xx|        NY|     4019.0|    52248.0| 150711|Charged Off|    15000.0|      15000.0| 36 months|     0.0|    7| 17 February 2017|     false|INDIVIDUAL|    small_business|            Business|                 0|                  1|                      0|                 0|                   0|                           0|                                  1|                               0|  1.0|
|YidceGUxXHg4MVx4Z...|           secretary|        10|   30000.0|         75000.0|   496xx|        MI|     3856.0|    50132.0| 207509|    Current|    21275.0|      21275.0| 36 months|  0.1862|   18| 19 December 2019|     false|     JOINT|debt_consolidation|  Debt consolidation|                 1|                  0|                      0|                 0|                   0|                           0|                                  0|                               1| 11.0|
|YidceGVmXHhkY1x4Y...|Customer Service ...|        10|   27800.0|             0.0|   616xx|        IL|      716.0|     5726.0|  81284| Fully Paid|     9875.0|       9875.0| 36 months|  0.1015|   10|      14 May 2014|     false|INDIVIDUAL|       credit_card|Credit card refin...|                 1|                  0|                      0|                 0|                   0|                           0|                                  1|                               0|  4.0|
+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+-----------+-----------+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+------------------+-------------------+-----------------------+------------------+--------------------+----------------------------+-----------------------------------+--------------------------------+-----+
only showing top 20 rows

### Type

In [27]:
encoded_df = one_hot_encode(encoded_df, "type")

encoded_df.show()

+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+-----------+-----------+-------------+----------+--------+-----+-----------------+----------+------------------+--------------------+------------------+-------------------+-----------------------+------------------+--------------------+----------------------------+-----------------------------------+--------------------------------+-----+---------------+----------+---------------+
|         customer_id|           emp_title|emp_length|annual_inc|annual_inc_joint|zip_code|addr_state|avg_cur_bal|tot_cur_bal|loan_id|loan_status|loan_amount|funded_amount|      term|int_rate|grade|       issue_date|pymnt_plan|           purpose|         description|home_ownership_OWN|home_ownership_RENT|home_ownership_MORTGAGE|home_ownership_ANY|home_ownership_OTHER|verification_status_Verified|verification_status_Source Verified|verification_status_Not Verified|state|type_DIRECT_PAY|type_JOINT|type_INDIVIDUAL|
+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+-----------+-----------+-------------+----------+--------+-----+-----------------+----------+------------------+--------------------+------------------+-------------------+-----------------------+------------------+--------------------+----------------------------+-----------------------------------+--------------------------------+-----+---------------+----------+---------------+
|YidceGJlT1x4YTJce...|Interpreter Coord...|        10|  110000.0|             0.0|   144xx|        NY|    25610.0|   204877.0| 170737| Fully Paid|    16575.0|      16575.0| 36 months|  0.1249|    6|  14 October 2014|     false|debt_consolidation|  Debt consolidation|                 0|                  0|                      1|                 0|                   0|                           0|                                  1|                               0|  1.0|              0|         0|              1|
|YidnOjxceGE5XHgwM...|   Building Engineer|        10|   54500.0|             0.0|   891xx|        NV|    19086.0|   267200.0|  35368|    Current|     5300.0|       5300.0| 36 months|  0.0992|    9|    18 April 2018|     false|       credit_card|Credit card refin...|                 0|                  0|                      1|                 0|                   0|                           1|                                  0|                               0| 21.0|              0|         0|              1|
|YidFXHg5M1x4ZTNce...|          supervisor|         5|   40000.0|             0.0|   641xx|        MO|     1703.0|    11920.0|  37086| Fully Paid|     5500.0|       5500.0| 36 months|  0.1903|   19|      17 May 2017|     false|debt_consolidation|  Debt consolidation|                 0|                  1|                      0|                 0|                   0|                           0|                                  1|                               0| 22.0|              0|         0|              1|
|YidceGE5XHhkY1NfX...|     Police officer |         2|   70000.0|             0.0|   112xx|        NY|     1295.0|    49213.0|  62526|    Current|     8000.0|       8000.0| 36 months|  0.0702|    4| 19 December 2019|     false|          vacation|            Vacation|                 0|                  1|                      0|                 0|                   0|                           0|                                  0|                               1|  1.0|              0|         0|              1|
|YidEXHg5NVBceDhiV...|             Teacher|         0|  266000.0|             0.0|   450xx|        OH|     6233.0|    49865.0| 195846|    Current|    20000.0|      20000.0| 36 months|  0.2055|   19|19 September 2019|     false|debt_consolidation|  Debt consolidation|                 0|                  1|                      0|                 0|                   0|                           0|                                  0|                               1|  7.0|              0|         0|              1|
|YidceGQyXHhjNlx4Z...|Occupational Ther...|        10|   91664.0|             0.0|   481xx|        MI|     5912.0|    70938.0| 109599|    Current|    11000.0|      11000.0| 36 months|  0.0819|    4|     19 July 2019|     false|       credit_card|Credit card refin...|                 1|                  0|                      0|                 0|                   0|                           0|                                  0|                               1| 11.0|              0|         0|              1|
|YidwXHhhMTZceGRiX...|             Teacher|        10|   57000.0|             0.0|   145xx|        NY|     2599.0|    23393.0| 149151|    Current|    15000.0|      15000.0| 36 months|     0.0|    6|    16 March 2016|     false|debt_consolidation|  Debt consolidation|                 1|                  0|                      0|                 0|                   0|                           1|                                  0|                               0|  1.0|              0|         0|              1|
|YiJceGFlXHhmZFx4O...|Social Studies Te...|         9|   62000.0|             0.0|   151xx|        PA|     3205.0|    35260.0|  25613|    Current|     5000.0|       5000.0| 36 months|  0.0649|    5|      16 May 2016|     false|             other|               Other|                 0|                  1|                      0|                 0|                   0|                           0|                                  0|                               1|  6.0|              0|         0|              1|
|YidceDE1XHgxYlx4M...|              Driver|        10|   62000.0|             0.0|   272xx|        NC|     5153.0|    66992.0|  93529|Charged Off|    10000.0|      10000.0| 36 months|  0.1269|   11|     15 July 2015|     false|debt_consolidation|  Debt consolidation|                 0|                  1|                      0|                 0|                   0|                           1|                                  0|                               0|  9.0|              0|         0|              1|
|YidceDdmXHhlMFx4Z...|             Ofc Mgr|        10|   71000.0|             0.0|   416xx|        KY|     2184.0|    19654.0|  20665|    Current|     4200.0|       4200.0| 36 months|  0.0916|    7|    16 March 2016|     false|debt_consolidation|  Debt consolidation|                 0|                  0|                      1|                 0|                   0|                           0|                                  0|                               1| 29.0|              0|         0|              1|
|YidceGQ2XHhlZFx4Z...|    Operations Clerk|        10|   34000.0|             0.0|   300xx|        GA|     8797.0|   131958.0| 159625|    Current|    15250.0|      15250.0| 60 months|  0.1629|   16|     14 July 2014|     false|debt_consolidation|  Debt consolidation|                 0|                  0|                      1|                 0|                   0|                           0|                                  0|                               1|  8.0|              0|         0|              1|
|YidceDg3XHhiMX5WX...|      Vice President|        10|   84000.0|             0.0|   913xx|        CA|     1045.0|     9402.0|  55944|    Current|     7050.0|       7050.0| 36 months|  0.0603|    2|  14 October 2014|     false|debt_consolidation|  Debt consolidation|                 0|                  1|                      0|                 0|                   0|                           0|                                  0|                               1|  0.0|              0|         0|              1|
|Yid7XHhlZSRceGFlX...|  Software Developer|         2|   65000.0|             0.0|   100xx|        NY|    16725.0|   284324.0| 114885| Fully Paid|    11900.0|      11900.0| 60 months|     0.0|   11|    16 March 2016|     false|       credit_card|Credit card refin...|                 0|                  0|                      1|                 0|                   0|                           1|                                  0|                               0|  1.0|              0|         0|              1|
|YidlXHg5M1x4ODBce...|Marine Systems Br...|         3|   85000.0|             0.0|   967xx|        HI|     1326.0|    17238.0|  38973|    Current|     6000.0|       6000.0| 36 months|  0.0531|    4|    18 April 2018|     false|    major_purchase|      Major purchase|                 0|                  1|                      0|                 0|                   0|                           0|                                  1|                               0| 33.0|              0|         0|              1|
|YidceGE5UVx4YWVvX...|                 CNA|         7|   50000.0|         75000.0|   950xx|        CA|     2292.0|    16047.0| 147874|    Current|    15000.0|      15000.0| 36 months|  0.0799|    2|    17 April 2017|     false|       credit_card|Credit card refin...|                 0|                  1|                      0|                 0|                   0|                           0|                                  0|                               1|  0.0|              0|         1|              0|
|Yic6XHg5ND5ceDEzY...|             Teacher|        10|   71000.0|             0.0|   700xx|        LA|     2120.0|    21195.0|  28829|    Current|     5000.0|       5000.0| 36 months|  0.1075|    6| 16 February 2016|     false|debt_consolidation|  Debt consolidation|                 1|                  0|                      0|                 0|                   0|                           0|                                  1|                               0| 25.0|              0|         0|              1|
|YiJhclx4MDhceDhmJ...|     General Managee|        10|   75000.0|             0.0|   757xx|        TX|    18915.0|   151317.0|  45484| Fully Paid|     6000.0|       6000.0| 36 months|     0.0|   11|      17 May 2017|     false|       credit_card|Credit card refin...|                 1|                  0|                      0|                 0|                   0|                           1|                                  0|                               0|  2.0|              0|         0|              1|
|YidceDk4PFx4ZWRkX...|        Chair person|        10|   75000.0|             0.0|   100xx|        NY|     4019.0|    52248.0| 150711|Charged Off|    15000.0|      15000.0| 36 months|     0.0|    7| 17 February 2017|     false|    small_business|            Business|                 0|                  1|                      0|                 0|                   0|                           0|                                  1|                               0|  1.0|              0|         0|              1|
|YidceGUxXHg4MVx4Z...|           secretary|        10|   30000.0|         75000.0|   496xx|        MI|     3856.0|    50132.0| 207509|    Current|    21275.0|      21275.0| 36 months|  0.1862|   18| 19 December 2019|     false|debt_consolidation|  Debt consolidation|                 1|                  0|                      0|                 0|                   0|                           0|                                  0|                               1| 11.0|              0|         1|              0|
|YidceGVmXHhkY1x4Y...|Customer Service ...|        10|   27800.0|             0.0|   616xx|        IL|      716.0|     5726.0|  81284| Fully Paid|     9875.0|       9875.0| 36 months|  0.1015|   10|      14 May 2014|     false|       credit_card|Credit card refin...|                 1|                  0|                      0|                 0|                   0|                           0|                                  1|                               0|  4.0|              0|         0|              1|
+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+-----------+-----------+-------------+----------+--------+-----+-----------------+----------+------------------+--------------------+------------------+-------------------+-----------------------+------------------+--------------------+----------------------------+-----------------------------------+--------------------------------+-----+---------------+----------+---------------+
only showing top 20 rows

### Purpose

In [28]:
encoded_df, lookup_table = label_encode(encoded_df, "purpose", lookup_table)

encoded_df.show()

+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+-----------+-----------+-------------+----------+--------+-----+-----------------+----------+--------------------+------------------+-------------------+-----------------------+------------------+--------------------+----------------------------+-----------------------------------+--------------------------------+-----+---------------+----------+---------------+-------+
|         customer_id|           emp_title|emp_length|annual_inc|annual_inc_joint|zip_code|addr_state|avg_cur_bal|tot_cur_bal|loan_id|loan_status|loan_amount|funded_amount|      term|int_rate|grade|       issue_date|pymnt_plan|         description|home_ownership_OWN|home_ownership_RENT|home_ownership_MORTGAGE|home_ownership_ANY|home_ownership_OTHER|verification_status_Verified|verification_status_Source Verified|verification_status_Not Verified|state|type_DIRECT_PAY|type_JOINT|type_INDIVIDUAL|purpose|
+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+-----------+-----------+-------------+----------+--------+-----+-----------------+----------+--------------------+------------------+-------------------+-----------------------+------------------+--------------------+----------------------------+-----------------------------------+--------------------------------+-----+---------------+----------+---------------+-------+
|YidceGJlT1x4YTJce...|Interpreter Coord...|        10|  110000.0|             0.0|   144xx|        NY|    25610.0|   204877.0| 170737| Fully Paid|    16575.0|      16575.0| 36 months|  0.1249|    6|  14 October 2014|     false|  Debt consolidation|                 0|                  0|                      1|                 0|                   0|                           0|                                  1|                               0|  1.0|              0|         0|              1|    0.0|
|YidnOjxceGE5XHgwM...|   Building Engineer|        10|   54500.0|             0.0|   891xx|        NV|    19086.0|   267200.0|  35368|    Current|     5300.0|       5300.0| 36 months|  0.0992|    9|    18 April 2018|     false|Credit card refin...|                 0|                  0|                      1|                 0|                   0|                           1|                                  0|                               0| 21.0|              0|         0|              1|    1.0|
|YidFXHg5M1x4ZTNce...|          supervisor|         5|   40000.0|             0.0|   641xx|        MO|     1703.0|    11920.0|  37086| Fully Paid|     5500.0|       5500.0| 36 months|  0.1903|   19|      17 May 2017|     false|  Debt consolidation|                 0|                  1|                      0|                 0|                   0|                           0|                                  1|                               0| 22.0|              0|         0|              1|    0.0|
|YidceGE5XHhkY1NfX...|     Police officer |         2|   70000.0|             0.0|   112xx|        NY|     1295.0|    49213.0|  62526|    Current|     8000.0|       8000.0| 36 months|  0.0702|    4| 19 December 2019|     false|            Vacation|                 0|                  1|                      0|                 0|                   0|                           0|                                  0|                               1|  1.0|              0|         0|              1|    9.0|
|YidEXHg5NVBceDhiV...|             Teacher|         0|  266000.0|             0.0|   450xx|        OH|     6233.0|    49865.0| 195846|    Current|    20000.0|      20000.0| 36 months|  0.2055|   19|19 September 2019|     false|  Debt consolidation|                 0|                  1|                      0|                 0|                   0|                           0|                                  0|                               1|  7.0|              0|         0|              1|    0.0|
|YidceGQyXHhjNlx4Z...|Occupational Ther...|        10|   91664.0|             0.0|   481xx|        MI|     5912.0|    70938.0| 109599|    Current|    11000.0|      11000.0| 36 months|  0.0819|    4|     19 July 2019|     false|Credit card refin...|                 1|                  0|                      0|                 0|                   0|                           0|                                  0|                               1| 11.0|              0|         0|              1|    1.0|
|YidwXHhhMTZceGRiX...|             Teacher|        10|   57000.0|             0.0|   145xx|        NY|     2599.0|    23393.0| 149151|    Current|    15000.0|      15000.0| 36 months|     0.0|    6|    16 March 2016|     false|  Debt consolidation|                 1|                  0|                      0|                 0|                   0|                           1|                                  0|                               0|  1.0|              0|         0|              1|    0.0|
|YiJceGFlXHhmZFx4O...|Social Studies Te...|         9|   62000.0|             0.0|   151xx|        PA|     3205.0|    35260.0|  25613|    Current|     5000.0|       5000.0| 36 months|  0.0649|    5|      16 May 2016|     false|               Other|                 0|                  1|                      0|                 0|                   0|                           0|                                  0|                               1|  6.0|              0|         0|              1|    3.0|
|YidceDE1XHgxYlx4M...|              Driver|        10|   62000.0|             0.0|   272xx|        NC|     5153.0|    66992.0|  93529|Charged Off|    10000.0|      10000.0| 36 months|  0.1269|   11|     15 July 2015|     false|  Debt consolidation|                 0|                  1|                      0|                 0|                   0|                           1|                                  0|                               0|  9.0|              0|         0|              1|    0.0|
|YidceDdmXHhlMFx4Z...|             Ofc Mgr|        10|   71000.0|             0.0|   416xx|        KY|     2184.0|    19654.0|  20665|    Current|     4200.0|       4200.0| 36 months|  0.0916|    7|    16 March 2016|     false|  Debt consolidation|                 0|                  0|                      1|                 0|                   0|                           0|                                  0|                               1| 29.0|              0|         0|              1|    0.0|
|YidceGQ2XHhlZFx4Z...|    Operations Clerk|        10|   34000.0|             0.0|   300xx|        GA|     8797.0|   131958.0| 159625|    Current|    15250.0|      15250.0| 60 months|  0.1629|   16|     14 July 2014|     false|  Debt consolidation|                 0|                  0|                      1|                 0|                   0|                           0|                                  0|                               1|  8.0|              0|         0|              1|    0.0|
|YidceDg3XHhiMX5WX...|      Vice President|        10|   84000.0|             0.0|   913xx|        CA|     1045.0|     9402.0|  55944|    Current|     7050.0|       7050.0| 36 months|  0.0603|    2|  14 October 2014|     false|  Debt consolidation|                 0|                  1|                      0|                 0|                   0|                           0|                                  0|                               1|  0.0|              0|         0|              1|    0.0|
|Yid7XHhlZSRceGFlX...|  Software Developer|         2|   65000.0|             0.0|   100xx|        NY|    16725.0|   284324.0| 114885| Fully Paid|    11900.0|      11900.0| 60 months|     0.0|   11|    16 March 2016|     false|Credit card refin...|                 0|                  0|                      1|                 0|                   0|                           1|                                  0|                               0|  1.0|              0|         0|              1|    1.0|
|YidlXHg5M1x4ODBce...|Marine Systems Br...|         3|   85000.0|             0.0|   967xx|        HI|     1326.0|    17238.0|  38973|    Current|     6000.0|       6000.0| 36 months|  0.0531|    4|    18 April 2018|     false|      Major purchase|                 0|                  1|                      0|                 0|                   0|                           0|                                  1|                               0| 33.0|              0|         0|              1|    4.0|
|YidceGE5UVx4YWVvX...|                 CNA|         7|   50000.0|         75000.0|   950xx|        CA|     2292.0|    16047.0| 147874|    Current|    15000.0|      15000.0| 36 months|  0.0799|    2|    17 April 2017|     false|Credit card refin...|                 0|                  1|                      0|                 0|                   0|                           0|                                  0|                               1|  0.0|              0|         1|              0|    1.0|
|Yic6XHg5ND5ceDEzY...|             Teacher|        10|   71000.0|             0.0|   700xx|        LA|     2120.0|    21195.0|  28829|    Current|     5000.0|       5000.0| 36 months|  0.1075|    6| 16 February 2016|     false|  Debt consolidation|                 1|                  0|                      0|                 0|                   0|                           0|                                  1|                               0| 25.0|              0|         0|              1|    0.0|
|YiJhclx4MDhceDhmJ...|     General Managee|        10|   75000.0|             0.0|   757xx|        TX|    18915.0|   151317.0|  45484| Fully Paid|     6000.0|       6000.0| 36 months|     0.0|   11|      17 May 2017|     false|Credit card refin...|                 1|                  0|                      0|                 0|                   0|                           1|                                  0|                               0|  2.0|              0|         0|              1|    1.0|
|YidceDk4PFx4ZWRkX...|        Chair person|        10|   75000.0|             0.0|   100xx|        NY|     4019.0|    52248.0| 150711|Charged Off|    15000.0|      15000.0| 36 months|     0.0|    7| 17 February 2017|     false|            Business|                 0|                  1|                      0|                 0|                   0|                           0|                                  1|                               0|  1.0|              0|         0|              1|    7.0|
|YidceGUxXHg4MVx4Z...|           secretary|        10|   30000.0|         75000.0|   496xx|        MI|     3856.0|    50132.0| 207509|    Current|    21275.0|      21275.0| 36 months|  0.1862|   18| 19 December 2019|     false|  Debt consolidation|                 1|                  0|                      0|                 0|                   0|                           0|                                  0|                               1| 11.0|              0|         1|              0|    0.0|
|YidceGVmXHhkY1x4Y...|Customer Service ...|        10|   27800.0|             0.0|   616xx|        IL|      716.0|     5726.0|  81284| Fully Paid|     9875.0|       9875.0| 36 months|  0.1015|   10|      14 May 2014|     false|Credit card refin...|                 1|                  0|                      0|                 0|                   0|                           0|                                  1|                               0|  4.0|              0|         0|              1|    1.0|
+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+-----------+-----------+-------------+----------+--------+-----+-----------------+----------+--------------------+------------------+-------------------+-----------------------+------------------+--------------------+----------------------------+-----------------------------------+--------------------------------+-----+---------------+----------+---------------+-------+
only showing top 20 rows

### Grade

In [29]:
from pyspark.sql.functions import when

def assign_grade(grade_value):
    return when((grade_value >= 1) & (grade_value <= 5), lit('A')) \
           .when(grade_value <= 10, lit('B')) \
           .when(grade_value <= 15, lit('C')) \
           .when(grade_value <= 20, lit('D')) \
           .when(grade_value <= 25, lit('E')) \
           .when(grade_value <= 30, lit('F')) \
           .when(grade_value <= 35, lit('G')) \

encoded_df = encoded_df.withColumn("grade_letter", when(col("grade").isNotNull(), assign_grade(col("grade"))).otherwise("Unknown"))
encoded_df = encoded_df.drop("grade").withColumnRenamed("grade_letter", "grade")

# Add to lookup table
for i in range(1, 36):
    lookup_table = lookup_table.union(spark.createDataFrame([Row(Column="grade", Original=str(i))]).withColumn("Encoded", assign_grade(lit(i))))

encoded_df.show()

+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+-----------+-----------+-------------+----------+--------+-----------------+----------+--------------------+------------------+-------------------+-----------------------+------------------+--------------------+----------------------------+-----------------------------------+--------------------------------+-----+---------------+----------+---------------+-------+-----+
|         customer_id|           emp_title|emp_length|annual_inc|annual_inc_joint|zip_code|addr_state|avg_cur_bal|tot_cur_bal|loan_id|loan_status|loan_amount|funded_amount|      term|int_rate|       issue_date|pymnt_plan|         description|home_ownership_OWN|home_ownership_RENT|home_ownership_MORTGAGE|home_ownership_ANY|home_ownership_OTHER|verification_status_Verified|verification_status_Source Verified|verification_status_Not Verified|state|type_DIRECT_PAY|type_JOINT|type_INDIVIDUAL|purpose|grade|
+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+-----------+-----------+-------------+----------+--------+-----------------+----------+--------------------+------------------+-------------------+-----------------------+------------------+--------------------+----------------------------+-----------------------------------+--------------------------------+-----+---------------+----------+---------------+-------+-----+
|YidceGJlT1x4YTJce...|Interpreter Coord...|        10|  110000.0|             0.0|   144xx|        NY|    25610.0|   204877.0| 170737| Fully Paid|    16575.0|      16575.0| 36 months|  0.1249|  14 October 2014|     false|  Debt consolidation|                 0|                  0|                      1|                 0|                   0|                           0|                                  1|                               0|  1.0|              0|         0|              1|    0.0|    B|
|YidnOjxceGE5XHgwM...|   Building Engineer|        10|   54500.0|             0.0|   891xx|        NV|    19086.0|   267200.0|  35368|    Current|     5300.0|       5300.0| 36 months|  0.0992|    18 April 2018|     false|Credit card refin...|                 0|                  0|                      1|                 0|                   0|                           1|                                  0|                               0| 21.0|              0|         0|              1|    1.0|    B|
|YidFXHg5M1x4ZTNce...|          supervisor|         5|   40000.0|             0.0|   641xx|        MO|     1703.0|    11920.0|  37086| Fully Paid|     5500.0|       5500.0| 36 months|  0.1903|      17 May 2017|     false|  Debt consolidation|                 0|                  1|                      0|                 0|                   0|                           0|                                  1|                               0| 22.0|              0|         0|              1|    0.0|    D|
|YidceGE5XHhkY1NfX...|     Police officer |         2|   70000.0|             0.0|   112xx|        NY|     1295.0|    49213.0|  62526|    Current|     8000.0|       8000.0| 36 months|  0.0702| 19 December 2019|     false|            Vacation|                 0|                  1|                      0|                 0|                   0|                           0|                                  0|                               1|  1.0|              0|         0|              1|    9.0|    A|
|YidEXHg5NVBceDhiV...|             Teacher|         0|  266000.0|             0.0|   450xx|        OH|     6233.0|    49865.0| 195846|    Current|    20000.0|      20000.0| 36 months|  0.2055|19 September 2019|     false|  Debt consolidation|                 0|                  1|                      0|                 0|                   0|                           0|                                  0|                               1|  7.0|              0|         0|              1|    0.0|    D|
|YidceGQyXHhjNlx4Z...|Occupational Ther...|        10|   91664.0|             0.0|   481xx|        MI|     5912.0|    70938.0| 109599|    Current|    11000.0|      11000.0| 36 months|  0.0819|     19 July 2019|     false|Credit card refin...|                 1|                  0|                      0|                 0|                   0|                           0|                                  0|                               1| 11.0|              0|         0|              1|    1.0|    A|
|YidwXHhhMTZceGRiX...|             Teacher|        10|   57000.0|             0.0|   145xx|        NY|     2599.0|    23393.0| 149151|    Current|    15000.0|      15000.0| 36 months|     0.0|    16 March 2016|     false|  Debt consolidation|                 1|                  0|                      0|                 0|                   0|                           1|                                  0|                               0|  1.0|              0|         0|              1|    0.0|    B|
|YiJceGFlXHhmZFx4O...|Social Studies Te...|         9|   62000.0|             0.0|   151xx|        PA|     3205.0|    35260.0|  25613|    Current|     5000.0|       5000.0| 36 months|  0.0649|      16 May 2016|     false|               Other|                 0|                  1|                      0|                 0|                   0|                           0|                                  0|                               1|  6.0|              0|         0|              1|    3.0|    A|
|YidceDE1XHgxYlx4M...|              Driver|        10|   62000.0|             0.0|   272xx|        NC|     5153.0|    66992.0|  93529|Charged Off|    10000.0|      10000.0| 36 months|  0.1269|     15 July 2015|     false|  Debt consolidation|                 0|                  1|                      0|                 0|                   0|                           1|                                  0|                               0|  9.0|              0|         0|              1|    0.0|    C|
|YidceDdmXHhlMFx4Z...|             Ofc Mgr|        10|   71000.0|             0.0|   416xx|        KY|     2184.0|    19654.0|  20665|    Current|     4200.0|       4200.0| 36 months|  0.0916|    16 March 2016|     false|  Debt consolidation|                 0|                  0|                      1|                 0|                   0|                           0|                                  0|                               1| 29.0|              0|         0|              1|    0.0|    B|
|YidceGQ2XHhlZFx4Z...|    Operations Clerk|        10|   34000.0|             0.0|   300xx|        GA|     8797.0|   131958.0| 159625|    Current|    15250.0|      15250.0| 60 months|  0.1629|     14 July 2014|     false|  Debt consolidation|                 0|                  0|                      1|                 0|                   0|                           0|                                  0|                               1|  8.0|              0|         0|              1|    0.0|    D|
|YidceDg3XHhiMX5WX...|      Vice President|        10|   84000.0|             0.0|   913xx|        CA|     1045.0|     9402.0|  55944|    Current|     7050.0|       7050.0| 36 months|  0.0603|  14 October 2014|     false|  Debt consolidation|                 0|                  1|                      0|                 0|                   0|                           0|                                  0|                               1|  0.0|              0|         0|              1|    0.0|    A|
|Yid7XHhlZSRceGFlX...|  Software Developer|         2|   65000.0|             0.0|   100xx|        NY|    16725.0|   284324.0| 114885| Fully Paid|    11900.0|      11900.0| 60 months|     0.0|    16 March 2016|     false|Credit card refin...|                 0|                  0|                      1|                 0|                   0|                           1|                                  0|                               0|  1.0|              0|         0|              1|    1.0|    C|
|YidlXHg5M1x4ODBce...|Marine Systems Br...|         3|   85000.0|             0.0|   967xx|        HI|     1326.0|    17238.0|  38973|    Current|     6000.0|       6000.0| 36 months|  0.0531|    18 April 2018|     false|      Major purchase|                 0|                  1|                      0|                 0|                   0|                           0|                                  1|                               0| 33.0|              0|         0|              1|    4.0|    A|
|YidceGE5UVx4YWVvX...|                 CNA|         7|   50000.0|         75000.0|   950xx|        CA|     2292.0|    16047.0| 147874|    Current|    15000.0|      15000.0| 36 months|  0.0799|    17 April 2017|     false|Credit card refin...|                 0|                  1|                      0|                 0|                   0|                           0|                                  0|                               1|  0.0|              0|         1|              0|    1.0|    A|
|Yic6XHg5ND5ceDEzY...|             Teacher|        10|   71000.0|             0.0|   700xx|        LA|     2120.0|    21195.0|  28829|    Current|     5000.0|       5000.0| 36 months|  0.1075| 16 February 2016|     false|  Debt consolidation|                 1|                  0|                      0|                 0|                   0|                           0|                                  1|                               0| 25.0|              0|         0|              1|    0.0|    B|
|YiJhclx4MDhceDhmJ...|     General Managee|        10|   75000.0|             0.0|   757xx|        TX|    18915.0|   151317.0|  45484| Fully Paid|     6000.0|       6000.0| 36 months|     0.0|      17 May 2017|     false|Credit card refin...|                 1|                  0|                      0|                 0|                   0|                           1|                                  0|                               0|  2.0|              0|         0|              1|    1.0|    C|
|YidceDk4PFx4ZWRkX...|        Chair person|        10|   75000.0|             0.0|   100xx|        NY|     4019.0|    52248.0| 150711|Charged Off|    15000.0|      15000.0| 36 months|     0.0| 17 February 2017|     false|            Business|                 0|                  1|                      0|                 0|                   0|                           0|                                  1|                               0|  1.0|              0|         0|              1|    7.0|    B|
|YidceGUxXHg4MVx4Z...|           secretary|        10|   30000.0|         75000.0|   496xx|        MI|     3856.0|    50132.0| 207509|    Current|    21275.0|      21275.0| 36 months|  0.1862| 19 December 2019|     false|  Debt consolidation|                 1|                  0|                      0|                 0|                   0|                           0|                                  0|                               1| 11.0|              0|         1|              0|    0.0|    D|
|YidceGVmXHhkY1x4Y...|Customer Service ...|        10|   27800.0|             0.0|   616xx|        IL|      716.0|     5726.0|  81284| Fully Paid|     9875.0|       9875.0| 36 months|  0.1015|      14 May 2014|     false|Credit card refin...|                 1|                  0|                      0|                 0|                   0|                           0|                                  1|                               0|  4.0|              0|         0|              1|    1.0|    B|
+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+-----------+-----------+-------------+----------+--------+-----------------+----------+--------------------+------------------+-------------------+-----------------------+------------------+--------------------+----------------------------+-----------------------------------+--------------------------------+-----+---------------+----------+---------------+-------+-----+
only showing top 20 rows

# Feature Engineering
## Write a function that adds the 3 following features. Try as much as you can to use built in fucntions in PySpark (from the functions library) check lab 8, Avoid writing UDFs from scratch.
- Previous loan issue date from the same grade
- Previoius Loan amount from the same grade
- Previous loan date from the same state and grade combined
- Previous loan amount from the same state and grade combined

In [30]:
from pyspark.sql.window import Window
from pyspark.sql.functions import lag, last, to_date, col

def add_features(df):
    df = df.withColumn("issue_date_formatted", to_date(col("issue_date"), "d MMMM yyyy")) # format date so that it compares correctly
    window_grade = Window.partitionBy("grade").orderBy("issue_date_formatted")
    window_state_grade = Window.partitionBy("state", "grade").orderBy("issue_date_formatted")

    df = df.withColumn("previous_loan_issue_date_same_grade", lag("issue_date_formatted", 1, None).over(window_grade))
    df = df.withColumn("previous_loan_amount_same_grade", lag("loan_amount", 1, None).over(window_grade))
    df = df.withColumn("previous_loan_issue_date_same_state_grade", lag("issue_date_formatted", 1, None).over(window_state_grade))
    df = df.withColumn("previous_loan_amount_same_state_grade", lag("loan_amount", 1, None).over(window_state_grade))
    return df

In [31]:
encoded_df = add_features(encoded_df)
encoded_df.show()

+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+-----------+-----------+-------------+----------+--------+-----------------+----------+--------------------+------------------+-------------------+-----------------------+------------------+--------------------+----------------------------+-----------------------------------+--------------------------------+-----+---------------+----------+---------------+-------+-----+--------------------+-----------------------------------+-------------------------------+-----------------------------------------+-------------------------------------+
|         customer_id|           emp_title|emp_length|annual_inc|annual_inc_joint|zip_code|addr_state|avg_cur_bal|tot_cur_bal|loan_id|loan_status|loan_amount|funded_amount|      term|int_rate|       issue_date|pymnt_plan|         description|home_ownership_OWN|home_ownership_RENT|home_ownership_MORTGAGE|home_ownership_ANY|home_ownership_OTHER|verification_status_Verified|verification_status_Source Verified|verification_status_Not Verified|state|type_DIRECT_PAY|type_JOINT|type_INDIVIDUAL|purpose|grade|issue_date_formatted|previous_loan_issue_date_same_grade|previous_loan_amount_same_grade|previous_loan_issue_date_same_state_grade|previous_loan_amount_same_state_grade|
+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+-----------+-----------+-------------+----------+--------+-----------------+----------+--------------------+------------------+-------------------+-----------------------+------------------+--------------------+----------------------------+-----------------------------------+--------------------------------+-----+---------------+----------+---------------+-------+-----+--------------------+-----------------------------------+-------------------------------+-----------------------------------------+-------------------------------------+
|YidceGZiXHhlNStod...|Southern Wine & S...|         5|   40000.0|             0.0|   944xx|        CA|     9332.0|    93319.0| 166950| Fully Paid|    16000.0|      16000.0| 60 months|  0.1212|12 September 2012|     false|  consolidaton loan |                 0|                  1|                      0|                 0|                   0|                           1|                                  0|                               0|  0.0|              0|         0|              1|    0.0|    B|          2012-09-12|                         2012-09-12|                         9125.0|                                     NULL|                                 NULL|
|YiJceDk3Q1x4YTlce...|Warner Bros. Stud...|         3|   50000.0|             0.0|   900xx|        CA|     3414.0|    20484.0|  38797| Fully Paid|     6000.0|       6000.0| 36 months|  0.1409|12 September 2012|     false|  Debt Consolidation|                 0|                  1|                      0|                 0|                   0|                           0|                                  1|                               0|  0.0|              0|         0|              1|    0.0|    B|          2012-09-12|                         2012-09-12|                        11675.0|                               2012-09-12|                              16000.0|
|YidceDAzNFx4Yjlce...|   Kaiser Permanente|         6|   80000.0|             0.0|   945xx|        CA|     6276.0|   100413.0|  81745| Fully Paid|    10000.0|      10000.0| 36 months|  0.1409|  12 October 2012|     false|            Nautical|                 0|                  1|                      0|                 0|                   0|                           1|                                  0|                               0|  0.0|              0|         0|              1|    1.0|    B|          2012-10-12|                         2012-10-12|                        12000.0|                               2012-09-12|                               6000.0|
|YiJceDE1XHg4MygnX...|Fremont Unified S...|        10|   65000.0|             0.0|   945xx|        CA|     4233.0|    16931.0| 144135| Fully Paid|    14800.0|      14800.0| 36 months|     0.0|  12 October 2012|     false|         Home buying|                 0|                  1|                      0|                 0|                   0|                           0|                                  0|                               1|  0.0|              0|         0|              1|    8.0|    B|          2012-10-12|                         2012-10-12|                         5000.0|                               2012-10-12|                              10000.0|
|YidFXHhjNFx4ZTNce...|Southern Californ...|        10|   78000.0|             0.0|   925xx|        CA|    29842.0|   238734.0| 230255| Fully Paid|    25225.0|      25225.0| 36 months|  0.1212|  12 October 2012|     false|  Debt consolidation|                 0|                  0|                      1|                 0|                   0|                           1|                                  0|                               0|  0.0|              0|         0|              1|    0.0|    B|          2012-10-12|                         2012-10-12|                         6000.0|                               2012-10-12|                              14800.0|
|YidceDFkXG5ceGU0X...|      Data Trace LLC|        10|   37000.0|             0.0|   956xx|        CA|     2496.0|    19966.0|  41939| Fully Paid|     6000.0|       6000.0| 36 months|  0.1016|  12 October 2012|     false|  Debt Consolidation|                 0|                  1|                      0|                 0|                   0|                           0|                                  0|                               1|  0.0|              0|         0|              1|    0.0|    B|          2012-10-12|                         2012-10-12|                        11100.0|                               2012-10-12|                              25225.0|
|YidceDE4bVx4ZWVce...|Providence Little...|         5|   87000.0|             0.0|   903xx|        CA|    56525.0|   395676.0| 110217| Fully Paid|    11000.0|      11000.0| 36 months|  0.1212| 12 November 2012|     false|         Card Payoff|                 0|                  0|                      0|                 0|                   1|                           0|                                  0|                               1|  0.0|              0|         0|              1|    1.0|    B|          2012-11-12|                         2012-11-12|                         2400.0|                               2012-10-12|                               6000.0|
|YidceGJlXHhiY1x4Y...|     Avisbudgetgroup|         7|   32000.0|             0.0|   908xx|        CA|     1831.0|     7325.0|  54190|Charged Off|     7000.0|       7000.0| 36 months|  0.1212| 12 November 2012|     false|Hello affordable ...|                 0|                  0|                      1|                 0|                   0|                           1|                                  0|                               0|  0.0|              0|         0|              1|    0.0|    B|          2012-11-12|                         2012-11-12|                         7200.0|                               2012-11-12|                              11000.0|
|Yid7XHhjZTkhVlx4Y...|Medi-Rub Corporation|        10|   65000.0|             0.0|   926xx|        CA|    26897.0|   268969.0|  31162| Fully Paid|     5000.0|       5000.0| 36 months|  0.1311| 12 December 2012|     false|       consolidation|                 0|                  0|                      1|                 0|                   0|                           1|                                  0|                               0|  0.0|              0|         0|              1|    1.0|    B|          2012-12-12|                         2012-12-12|                        21000.0|                               2012-11-12|                               7000.0|
|YiJceDg1WycmXHhjN...|Xceed Financial C...|         5|   90000.0|             0.0|   928xx|        CA|    39273.0|   353458.0|  57357|Charged Off|     7200.0|       7200.0| 36 months|     0.0| 12 December 2012|     false| Credit Card Pay Off|                 0|                  0|                      1|                 0|                   0|                           0|                                  1|                               0|  0.0|              0|         0|              1|    0.0|    B|          2012-12-12|                         2012-12-12|                        12000.0|                               2012-12-12|                               5000.0|
|YiduXHhhYkpceDgwQ...|              School|         5|   55000.0|             0.0|   913xx|        CA|     4541.0|    45407.0| 221278| Fully Paid|    24575.0|      24575.0| 36 months|  0.1114|  13 January 2013|     false|     Goodbyedebt2016|                 0|                  1|                      0|                 0|                   0|                           1|                                  0|                               0|  0.0|              0|         0|              1|    0.0|    B|          2013-01-13|                         2013-01-13|                        10000.0|                               2012-12-12|                               7200.0|
|YiJceGNjXHgwZlx4O...|  walmart stores inc|        10|   52000.0|             0.0|   923xx|        CA|    26446.0|   185123.0| 144975| Fully Paid|    15000.0|      15000.0| 36 months|  0.1311|  13 January 2013|     false|  debt consolidation|                 0|                  0|                      1|                 0|                   0|                           1|                                  0|                               0|  0.0|              0|         0|              1|    0.0|    B|          2013-01-13|                         2013-01-13|                        12000.0|                               2013-01-13|                              24575.0|
|YidceGZlXHhjM1x4Z...| EMS Opportunitie...|         6|   82000.0|             0.0|   935xx|        CA|     7809.0|    93711.0| 159284|Charged Off|    15100.0|      15100.0| 36 months|     0.0|  13 January 2013|     false|          Safety Net|                 0|                  1|                      0|                 0|                   0|                           1|                                  0|                               0|  0.0|              0|         0|              1|    1.0|    B|          2013-01-13|                         2013-01-13|                        17300.0|                               2013-01-13|                              15000.0|
|YidXXHhlMFx4ZmQlX...|       Early Warning|         0|  250000.0|             0.0|   926xx|        CA|     9709.0|    58253.0| 150434| Fully Paid|    15000.0|      15000.0| 36 months|  0.1114|  13 January 2013|     false|  Debt Consolidation|                 0|                  1|                      0|                 0|                   0|                           1|                                  0|                               0|  0.0|              0|         0|              1|    0.0|    B|          2013-01-13|                         2013-01-13|                         7500.0|                               2013-01-13|                              15100.0|
|YidceGE1X1x4MTVce...|Pitney Bowes Mana...|        10|   41000.0|             0.0|   940xx|        CA|     2513.0|    17593.0| 182055|Charged Off|    18250.0|      18250.0| 36 months|  0.1212|  13 January 2013|     false|  Debt consolidation|                 0|                  1|                      0|                 0|                   0|                           1|                                  0|                               0|  0.0|              0|         0|              1|    0.0|    B|          2013-01-13|                         2013-01-13|                        15000.0|                               2013-01-13|                              15000.0|
|YidceGU4XHhlM3Bce...|san jose state un...|        10|  152000.0|             0.0|   951xx|        CA|     5747.0|   120680.0|  80024| Fully Paid|     9600.0|       9600.0| 36 months|  0.1311| 13 February 2013|     false|              Jan-13|                 0|                  0|                      1|                 0|                   0|                           1|                                  0|                               0|  0.0|              0|         0|              1|    0.0|    B|          2013-02-13|                         2013-02-13|                        10000.0|                               2013-01-13|                              18250.0|
|YidceGQ0XHhkOFx4Y...|Capistrano Unifie...|        10|   88000.0|             0.0|   926xx|        CA|    41914.0|   461054.0| 213687|    Current|    23675.0|      23675.0| 60 months|     0.0| 13 February 2013|     false|  Debt Consolidation|                 0|                  0|                      1|                 0|                   0|                           1|                                  0|                               0|  0.0|              0|         0|              1|    1.0|    B|          2013-02-13|                         2013-02-13|                         9000.0|                               2013-02-13|                               9600.0|
|YidceGY2I1x4MTQka...|    Jons Marketplace|         4|   52000.0|             0.0|   900xx|        CA|     1685.0|    18531.0|  74259| Fully Paid|     9000.0|       9000.0| 36 months|  0.1212| 13 February 2013|     false|Credit card refin...|                 0|                  1|                      0|                 0|                   0|                           0|                                  0|                               1|  0.0|              0|         0|              1|    1.0|    B|          2013-02-13|                         2013-02-13|                        20000.0|                               2013-02-13|                              23675.0|
|YidceGNlSCJceDljM...|Rustic Cottages R...|         3|   44000.0|             0.0|   961xx|        CA|     2841.0|    28414.0| 115564| Fully Paid|    12000.0|      12000.0| 36 months|     0.0| 13 February 2013|     false|         Pay It Off!|                 1|                  0|                      0|                 0|                   0|                           1|                                  0|                               0|  0.0|              0|         0|              1|    0.0|    B|          2013-02-13|                         2013-02-13|                        24000.0|                               2013-02-13|                               9000.0|
|YidvXHgwYlx4ZTNce...|        Anderson A/C|         3|   42000.0|             0.0|   928xx|        CA|     5658.0|    28289.0|  78467| Fully Paid|     9500.0|       9500.0| 36 months|  0.1311| 13 February 2013|     false|          money loan|                 0|                  1|                      0|                 0|                   0|                           1|                                  0|                               0|  0.0|              0|         0|              1|    0.0|    B|          2013-02-13|                         2013-02-13|                        12000.0|                               2013-02-13|                              12000.0|
+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+-----------+-----------+-------------+----------+--------+-----------------+----------+--------------------+------------------+-------------------+-----------------------+------------------+--------------------+----------------------------+-----------------------------------+--------------------------------+-----+---------------+----------+---------------+-------+-----+--------------------+-----------------------------------+-------------------------------+-----------------------------------------+-------------------------------------+
only showing top 20 rows

In [32]:
encoded_df.select(col("customer_id"),col("issue_date"),"grade", col("previous_loan_issue_date_same_grade")).orderBy(col("previous_loan_issue_date_same_grade").asc()).show()

+--------------------+-----------------+-----+-----------------------------------+
|         customer_id|       issue_date|grade|previous_loan_issue_date_same_grade|
+--------------------+-----------------+-----+-----------------------------------+
|YidceGMwTFx4MDBce...|   12 August 2012|    A|                               NULL|
|YiJceGE3QFx4ZGFWL...|12 September 2012|    B|                               NULL|
|YicrXHg4MVx4YjRce...|   12 August 2012|    C|                               NULL|
|YidaXHhhZlx4ZjRce...|   12 August 2012|    D|                               NULL|
|YidceGFlKlx4YmNcb...|12 September 2012|    G|                               NULL|
|YidceDFiXVx4YzJlI...|   12 August 2012|    E|                               NULL|
|YicrXHhiNCkvXHhhZ...|  12 October 2012|    F|                               NULL|
|YidtXHgxOEZceGQ0X...|12 September 2012|    A|                         2012-08-12|
|YidceGE2Jlx4ZGJ8X...|   12 August 2012|    D|                         2012-08-12|
|YidceDA3OGpceGU2W...|   12 August 2012|    C|                         2012-08-12|
|YidTe1x4Y2JSQ1x4M...|12 September 2012|    D|                         2012-08-12|
|YidceGViXHg4NVx4Z...|   12 August 2012|    C|                         2012-08-12|
|YidcXFx4YzZFfFx4Z...|12 September 2012|    E|                         2012-08-12|
|YidceGY2XHg5Mlx4Y...|12 September 2012|    C|                         2012-08-12|
|YidIXHhlMlx4ZjVce...|12 September 2012|    B|                         2012-09-12|
|YiddXHhjZVx4YzZce...|12 September 2012|    A|                         2012-09-12|
|YidNXHg4YVx4ZDQzS...|12 September 2012|    B|                         2012-09-12|
|YiJceGZjXHhiN1Nce...|12 September 2012|    A|                         2012-09-12|
|YidceGMxXHg4ZVx4Y...|12 September 2012|    B|                         2012-09-12|
|YidceGZkO1ZceDk0Q...|12 September 2012|    A|                         2012-09-12|
+--------------------+-----------------+-----+-----------------------------------+
only showing top 20 rows

# Analysis
## Answer each of the following questions using both SQL and Spark:
1. Identify the average loan amount and interest rate for loans marked as
"Default" in the Loan Status, grouped by Emp Length and annual income ranges.
Hint: Use SQL Cases to bin Annual Income into Income Ranges
2. Calculate the average difference between Loan Amount and Funded Amount for each
loan Grade and sort by the grades with the largest differences.
3. Compare the total Loan Amount for loans with "Verified" and "Not Verified"
Verification Status across each state (Addr State).
4. Calculate the average time gap (in days) between consecutive loans for each
grade using the new features you added in the feature engineering phase
5. Identify the average difference in loan amounts between consecutive loans
within the same state and grade combination.

### 1. Identify the average loan amount and interest rate for loans marked as "Default" in the Loan Status, grouped by Emp Length and annual income ranges.

#### Spark

In [33]:
# Get quantiles to be used to split up annual income into ranges
# Ranges are very low, low, medium, high, very high
annual_income_quantiles = encoded_df.approxQuantile("annual_inc", [0.2, 0.4, 0.6, 0.8], 0.01)
annual_income_quantiles

[42437.121, 60000.0, 75000.0, 100000.0]

In [34]:
df_with_income_ranges = encoded_df.withColumn("annual_income_range",\
                                              when(col("annual_inc") <= annual_income_quantiles[0], "very low")\
                                              .when((col("annual_inc") > annual_income_quantiles[0]) & (col("annual_inc") <= annual_income_quantiles[1]), "low")\
                                              .when((col("annual_inc") > annual_income_quantiles[1]) & (col("annual_inc") <= annual_income_quantiles[2]), "medium")\
                                              .when((col("annual_inc") > annual_income_quantiles[2]) & (col("annual_inc") <= annual_income_quantiles[3]), "high")\
                                              .otherwise("very high"))
df_with_income_ranges.select(col("customer_id"),col("annual_inc"),col("annual_income_range")).show()

+--------------------+----------+-------------------+
|         customer_id|annual_inc|annual_income_range|
+--------------------+----------+-------------------+
|YidceGYwXHhmMVpce...|   83000.0|               high|
|YiduXHhlNXRceDFhX...|   46000.0|                low|
|YidceGRlRFx4ZjZce...|   54000.0|                low|
|Yic1XHg5NVx4ZjJce...|   98000.0|               high|
|YidbWl86XHhiMlx4O...|   37000.0|           very low|
|YidOXHgxM1x4ZjMxN...|   26000.0|           very low|
|Yid7XHhjNFx4OGZce...|   27500.0|           very low|
|YidceDllXHgwMlx4Z...|   84000.0|               high|
|YidceDhmXHhmM1x4Z...|  120000.0|          very high|
|YidAXHhiNlx4YjNce...|   50000.0|                low|
|YidceGQ3XHJpdFx4M...|   59885.0|                low|
|YidceDAxS1x4OWFpL...|  130000.0|          very high|
|YidvUVtceDdmJFx4O...|   66000.0|             medium|
|YidhQVx4YjFTXHgwZ...|   41600.0|           very low|
|YidceDg4XHhhOVtce...|   30000.0|           very low|
|YidceGRkXHhjMFx4Z...|   50000.0|                low|
|Yic9XHhlZVx4YjNwJ...|  165000.0|          very high|
|YidceGRiO1x4OTlce...|   43680.0|                low|
|YidceDE4XHhiNFx4O...|   57000.0|                low|
|YidceGU1XHhiNlx4Z...|   32000.0|           very low|
+--------------------+----------+-------------------+
only showing top 20 rows

In [35]:
from pyspark.sql.functions import avg
grouped_df = df_with_income_ranges.groupBy("emp_length", "annual_income_range", "loan_status").agg(avg("loan_amount").alias("avg_loan_amount"), avg("int_rate").alias("avg_int_rate"))

grouped_df.sort(col("loan_status").asc()).show()

+----------+-------------------+-----------+------------------+-------------------+
|emp_length|annual_income_range|loan_status|   avg_loan_amount|       avg_int_rate|
+----------+-------------------+-----------+------------------+-------------------+
|         3|           very low|Charged Off|10660.714285714286|0.14632571428571428|
|         7|                low|Charged Off|           13833.0|0.15851200000000001|
|         5|               high|Charged Off|19465.277777777777|0.13915555555555556|
|         0|             medium|Charged Off|           17669.0|0.15620799999999999|
|         8|               high|Charged Off| 18956.81818181818|0.17394545454545454|
|         6|           very low|Charged Off|           9268.75|0.15018749999999997|
|        10|             medium|Charged Off|16142.540322580646|0.14382096774193548|
|         2|          very high|Charged Off|21372.916666666668|0.11386666666666667|
|         3|                low|Charged Off| 14166.02564102564|0.15634102564102564|
|         6|               high|Charged Off|           20802.5|0.13452999999999998|
|         0|          very high|Charged Off|25410.227272727272|0.14530454545454544|
|        10|                low|Charged Off| 15083.17901234568| 0.1499586419753087|
|         9|             medium|Charged Off|16263.636363636364| 0.1764272727272727|
|        10|          very high|Charged Off|23080.050505050505| 0.1536171717171717|
|         9|                low|Charged Off|        12629.6875|         0.14624375|
|         3|             medium|Charged Off| 16754.62962962963|0.14285925925925927|
|         5|             medium|Charged Off|18171.052631578947|0.13265263157894736|
|         5|          very high|Charged Off|           23750.0|0.17580714285714283|
|         1|          very high|Charged Off|23794.117647058825|0.12857058823529413|
|         2|             medium|Charged Off| 16409.52380952381|0.14964761904761903|
+----------+-------------------+-----------+------------------+-------------------+
only showing top 20 rows

In [36]:
# get only the default loan status rows
default_df = grouped_df.filter(col("loan_status") == "Default")
default_df.show()

+----------+-------------------+-----------+---------------+------------+
|emp_length|annual_income_range|loan_status|avg_loan_amount|avg_int_rate|
+----------+-------------------+-----------+---------------+------------+
|         1|          very high|    Default|        35000.0|      0.2589|
|        10|           very low|    Default|        13925.0|      0.2215|
+----------+-------------------+-----------+---------------+------------+

#### SQL

In [37]:
encoded_df.createOrReplaceTempView("default_loans")
# Will use ranges previously obtained by quantiles from spark [42437.121, 60000.0, 75000.0, 100000.0]
query = """
SELECT
    emp_length,
    CASE
        WHEN annual_inc <= 42437.121 THEN 'very low'
        WHEN annual_inc > 42437.121 AND annual_inc <= 60000.0 THEN 'low'
        WHEN annual_inc > 60000.0 AND annual_inc <= 75000.0 THEN 'medium'
        WHEN annual_inc > 75000.0 AND annual_inc <= 100000.0 THEN 'high'
        ELSE 'very high'
    END AS annual_income_range,
    loan_status,
    AVG(loan_amount) AS avg_loan_amount,
    AVG(int_rate) AS avg_int_rate
FROM default_loans
GROUP BY emp_length, annual_income_range, loan_status
HAVING loan_status = "Default"
"""
result = spark.sql(query)
result.show()

+----------+-------------------+-----------+---------------+------------+
|emp_length|annual_income_range|loan_status|avg_loan_amount|avg_int_rate|
+----------+-------------------+-----------+---------------+------------+
|         1|          very high|    Default|        35000.0|      0.2589|
|        10|           very low|    Default|        13925.0|      0.2215|
+----------+-------------------+-----------+---------------+------------+

### 2. Calculate the average difference between Loan Amount and Funded Amount for each loan Grade and sort by the grades with the largest differences.

#### Spark

In [38]:
grade_grouped_df = encoded_df.groupBy("grade").agg(avg(col("loan_amount") - col("funded_amount")).alias("avg_diff_between_loan_and_funded_amounts"))
grade_grouped_df.sort(col("avg_diff_between_loan_and_funded_amounts").desc()).show()

+-----+----------------------------------------+
|grade|avg_diff_between_loan_and_funded_amounts|
+-----+----------------------------------------+
|    F|                                     0.0|
|    E|                                     0.0|
|    B|                                     0.0|
|    D|                                     0.0|
|    C|                                     0.0|
|    A|                                     0.0|
|    G|                                     0.0|
+-----+----------------------------------------+

>did this to double check that there is truly 0 rows with different loan and funded amounts

In [39]:
encoded_df.select(col("customer_id"),col("loan_amount"),col("funded_amount")).filter(col("loan_amount") != col("funded_amount")).show()

+-----------+-----------+-------------+
|customer_id|loan_amount|funded_amount|
+-----------+-----------+-------------+
+-----------+-----------+-------------+

#### SQL

In [40]:
encoded_df.createOrReplaceTempView("loan_funded_diff")
query = """
SELECT
    grade,
    AVG(loan_amount - funded_amount) AS avg_diff_between_loan_and_funded_amounts
FROM loan_funded_diff
GROUP BY grade
ORDER BY avg_diff_between_loan_and_funded_amounts DESC
"""
result = spark.sql(query)
result.show()

+-----+----------------------------------------+
|grade|avg_diff_between_loan_and_funded_amounts|
+-----+----------------------------------------+
|    F|                                     0.0|
|    E|                                     0.0|
|    B|                                     0.0|
|    D|                                     0.0|
|    C|                                     0.0|
|    A|                                     0.0|
|    G|                                     0.0|
+-----+----------------------------------------+

### 3. Compare the total Loan Amount for loans with "Verified" and "Not Verified" Verification Status across each state (Addr State).

#### Spark

In [41]:
from pyspark.sql.functions import sum, col, when

state_grouped_df = encoded_df.groupBy("addr_state", "verification_status_Verified", "verification_status_Not Verified").\
agg(sum("loan_amount").alias("total_loan_amount")).\
withColumn("verification_status", when(col("verification_status_Verified") == 1, "Verified").when(col("verification_status_Not Verified") == 1, "Not Verified").otherwise("other"))
state_grouped_df.filter(col("verification_status") != "other").orderBy(col("addr_state").asc(), col("verification_status").asc()).select(col("addr_state"), col("total_loan_amount"), "verification_status").show()

+----------+-----------------+-------------------+
|addr_state|total_loan_amount|verification_status|
+----------+-----------------+-------------------+
|        AK|         252200.0|       Not Verified|
|        AK|         243600.0|           Verified|
|        AL|        1420850.0|       Not Verified|
|        AL|        1350675.0|           Verified|
|        AR|         677275.0|       Not Verified|
|        AR|         656625.0|           Verified|
|        AZ|        3542075.0|       Not Verified|
|        AZ|        2911425.0|           Verified|
|        CA|       1.969535E7|       Not Verified|
|        CA|      1.4923975E7|           Verified|
|        CO|        2675500.0|       Not Verified|
|        CO|        2488950.0|           Verified|
|        CT|        2107950.0|       Not Verified|
|        CT|        1820925.0|           Verified|
|        DC|         164125.0|       Not Verified|
|        DC|         308575.0|           Verified|
|        DE|         474300.0|       Not Verified|
|        DE|         443700.0|           Verified|
|        FL|        9625150.0|       Not Verified|
|        FL|        7966050.0|           Verified|
+----------+-----------------+-------------------+
only showing top 20 rows

#### SQL

In [42]:
encoded_df.createOrReplaceTempView("total_loan_amounts")
query = """
SELECT
    addr_state,
    SUM(loan_amount) AS total_loan_amount,
    CASE
      WHEN verification_status_Verified = 1 THEN 'Verified'
      WHEN `verification_status_Not Verified` = 1 THEN 'Not Verified'
      ELSE 'other'
    END AS verification_status
FROM total_loan_amounts
GROUP BY addr_state, verification_status
HAVING verification_status != 'other'
ORDER BY addr_state ASC, verification_status ASC
"""
result = spark.sql(query)
result.show()

+----------+-----------------+-------------------+
|addr_state|total_loan_amount|verification_status|
+----------+-----------------+-------------------+
|        AK|         252200.0|       Not Verified|
|        AK|         243600.0|           Verified|
|        AL|        1420850.0|       Not Verified|
|        AL|        1350675.0|           Verified|
|        AR|         677275.0|       Not Verified|
|        AR|         656625.0|           Verified|
|        AZ|        3542075.0|       Not Verified|
|        AZ|        2911425.0|           Verified|
|        CA|       1.969535E7|       Not Verified|
|        CA|      1.4923975E7|           Verified|
|        CO|        2675500.0|       Not Verified|
|        CO|        2488950.0|           Verified|
|        CT|        2107950.0|       Not Verified|
|        CT|        1820925.0|           Verified|
|        DC|         164125.0|       Not Verified|
|        DC|         308575.0|           Verified|
|        DE|         474300.0|       Not Verified|
|        DE|         443700.0|           Verified|
|        FL|        9625150.0|       Not Verified|
|        FL|        7966050.0|           Verified|
+----------+-----------------+-------------------+
only showing top 20 rows

### 4. Calculate the average time gap (in days) between consecutive loans for each grade using the new features you added in the feature engineering phase

#### Spark

In [43]:
encoded_df.select(col("customer_id"),col("issue_date"),col("issue_date_formatted"), col("previous_loan_issue_date_same_grade"), col("loan_amount"), col("previous_loan_amount_same_grade"), col("grade")).orderBy(col("grade").desc()\
                                                                                                                                                                                                        ,col("issue_date_formatted").asc()\
                                                                                                                                                                                                        ).show()

+--------------------+-----------------+--------------------+-----------------------------------+-----------+-------------------------------+-----+
|         customer_id|       issue_date|issue_date_formatted|previous_loan_issue_date_same_grade|loan_amount|previous_loan_amount_same_grade|grade|
+--------------------+-----------------+--------------------+-----------------------------------+-----------+-------------------------------+-----+
|YidceGFlKlx4YmNcb...|12 September 2012|          2012-09-12|                               NULL|    24000.0|                           NULL|    G|
|YiJceGM5XHhhZlx4O...| 12 November 2012|          2012-11-12|                         2012-09-12|    26200.0|                        24000.0|    G|
|YidceDA1XHg4MFx4Z...|    13 April 2013|          2013-04-13|                         2012-11-12|    24000.0|                        26200.0|    G|
|YidceGQwTFx4Zjdce...|      13 May 2013|          2013-05-13|                         2013-04-13|    30000.0|                        24000.0|    G|
|YidXbmFbMVhceGI2X...|      13 May 2013|          2013-05-13|                         2013-05-13|    24375.0|                        30000.0|    G|
|YicxXHhhN1x4OTNce...|      13 May 2013|          2013-05-13|                         2013-05-13|    15000.0|                        24375.0|    G|
|YidcXFx4ODBOXHhiN...|     13 July 2013|          2013-07-13|                         2013-05-13|    35000.0|                        15000.0|    G|
|YidceGEwXVx4Yjdce...|   13 August 2013|          2013-08-13|                         2013-07-13|    20000.0|                        35000.0|    G|
|Yic9XHhlOFx4ZjZce...|13 September 2013|          2013-09-13|                         2013-08-13|    25000.0|                        20000.0|    G|
|YidceGYxTlx4ZmJce...| 13 November 2013|          2013-11-13|                         2013-09-13|    10750.0|                        25000.0|    G|
|YidceDhmXHg4MShce...| 13 December 2013|          2013-12-13|                         2013-11-13|    35000.0|                        10750.0|    G|
|Yic3Slx4ZWFceDg5U...| 13 December 2013|          2013-12-13|                         2013-12-13|    35000.0|                        35000.0|    G|
|YidceDkwbFx4YjgzX...| 14 February 2014|          2014-02-14|                         2013-12-13|    15000.0|                        35000.0|    G|
|YiJceDgzJ1x4YmZce...|     14 June 2014|          2014-06-14|                         2014-02-14|    24525.0|                        15000.0|    G|
|YidceGRlXHgwOFx4Y...|     14 June 2014|          2014-06-14|                         2014-06-14|    18000.0|                        24525.0|    G|
|Yid8XHg4MUNceGJhQ...|     14 June 2014|          2014-06-14|                         2014-06-14|    24625.0|                        18000.0|    G|
|YidXXHhkYVx4YjZce...|     14 July 2014|          2014-07-14|                         2014-06-14|     7475.0|                        24625.0|    G|
|YidyXHgwMFx4Y2Vce...|   14 August 2014|          2014-08-14|                         2014-08-14|    10200.0|                        12000.0|    G|
|YidceGRiIlx4Zjhda...|   14 August 2014|          2014-08-14|                         2014-08-14|    12000.0|                        17625.0|    G|
|YidceDliJm9JdC9ce...|   14 August 2014|          2014-08-14|                         2014-07-14|    24450.0|                         7475.0|    G|
+--------------------+-----------------+--------------------+-----------------------------------+-----------+-------------------------------+-----+
only showing top 20 rows

In [44]:
from pyspark.sql.functions import datediff
avg_time_gap_df = encoded_df.groupBy("grade").agg(avg(datediff(col("issue_date_formatted"), col("previous_loan_issue_date_same_grade"))).alias("average_time_gap_in_days"))
avg_time_gap_df.show()

+-----+------------------------+
|grade|average_time_gap_in_days|
+-----+------------------------+
|    A|      0.4627714581178904|
|    B|      0.3388229286352611|
|    C|     0.35440865892291445|
|    D|      0.6888147768086198|
|    E|      1.6959887403237157|
|    F|      5.8172323759791125|
|    G|                    20.8|
+-----+------------------------+

#### SQL

In [45]:
encoded_df.createOrReplaceTempView("average_time_gap")
query = """
SELECT
    grade,
    AVG(DATEDIFF(issue_date_formatted, previous_loan_issue_date_same_grade)) AS average_time_gap_in_days
FROM average_time_gap
GROUP BY grade
"""
result = spark.sql(query)
result.show()

+-----+------------------------+
|grade|average_time_gap_in_days|
+-----+------------------------+
|    A|      0.4627714581178904|
|    B|      0.3388229286352611|
|    C|     0.35440865892291445|
|    D|      0.6888147768086198|
|    E|      1.6959887403237157|
|    F|      5.8172323759791125|
|    G|                    20.8|
+-----+------------------------+

### 5. Identify the average difference in loan amounts between consecutive loans within the same state and grade combination.

#### Spark

In [46]:
encoded_df.columns

['customer_id',
 'emp_title',
 'emp_length',
 'annual_inc',
 'annual_inc_joint',
 'zip_code',
 'addr_state',
 'avg_cur_bal',
 'tot_cur_bal',
 'loan_id',
 'loan_status',
 'loan_amount',
 'funded_amount',
 'term',
 'int_rate',
 'issue_date',
 'pymnt_plan',
 'description',
 'home_ownership_OWN',
 'home_ownership_RENT',
 'home_ownership_MORTGAGE',
 'home_ownership_ANY',
 'home_ownership_OTHER',
 'verification_status_Verified',
 'verification_status_Source Verified',
 'verification_status_Not Verified',
 'state',
 'type_DIRECT_PAY',
 'type_JOINT',
 'type_INDIVIDUAL',
 'purpose',
 'grade',
 'issue_date_formatted',
 'previous_loan_issue_date_same_grade',
 'previous_loan_amount_same_grade',
 'previous_loan_issue_date_same_state_grade',
 'previous_loan_amount_same_state_grade']

In [47]:
# adding 0 in place of nulls as null means there's <= 1 row of that combination
# which means theres 0 difference between consecutive loans
# as there are no consecutive loans
avg_loan_amount_diff_df = encoded_df.groupBy("state", "grade").agg(
      avg(
          col("loan_amount") - col("previous_loan_amount_same_state_grade")
      ).alias("avg_diff_between_consecutive_loans")
    ).fillna(0)
avg_loan_amount_diff_df.show()

+-----+-----+----------------------------------+
|state|grade|avg_diff_between_consecutive_loans|
+-----+-----+----------------------------------+
| 36.0|    D|                -333.3333333333333|
| 23.0|    A|                 25.31645569620253|
| 34.0|    C|                 56.86274509803921|
| 46.0|    C|                 858.9285714285714|
| 17.0|    C|                 42.58474576271186|
| 42.0|    D|                           565.625|
|  0.0|    F|               -431.37254901960785|
|  7.0|    E|                222.22222222222223|
| 13.0|    E|                -511.1111111111111|
| 15.0|    C|               -25.157232704402517|
| 26.0|    B|                207.41758241758242|
| 44.0|    B|                 109.0909090909091|
| 29.0|    G|                               0.0|
| 35.0|    E|                           -1400.0|
|  0.0|    C|                3.0706243602865917|
| 24.0|    C|                 2.247191011235955|
| 49.0|    D|                            -100.0|
|  5.0|    F|                           2243.75|
| 17.0|    E|                            -434.0|
| 26.0|    E|                 307.6923076923077|
+-----+-----+----------------------------------+
only showing top 20 rows

> attempting to show state code too

In [48]:
avg_loan_amount_diff_df.join(lookup_table, (avg_loan_amount_diff_df.state == lookup_table.Encoded) & (lookup_table.Column == 'state'), "left").select(col("state"), col("Original").alias("state_name"), col("grade"), col("avg_diff_between_consecutive_loans")).show()

+-----+----------+-----+----------------------------------+
|state|state_name|grade|avg_diff_between_consecutive_loans|
+-----+----------+-----+----------------------------------+
| 36.0|        NE|    D|                -333.3333333333333|
| 23.0|        OR|    A|                 25.31645569620253|
| 34.0|        MS|    C|                 56.86274509803921|
| 46.0|        WY|    C|                 858.9285714285714|
| 17.0|        MN|    C|                 42.58474576271186|
| 42.0|        ME|    D|                           565.625|
|  0.0|        CA|    F|               -431.37254901960785|
|  7.0|        OH|    E|                222.22222222222223|
| 13.0|        MD|    E|                -511.1111111111111|
| 15.0|        WA|    C|               -25.157232704402517|
| 26.0|        SC|    B|                207.41758241758242|
| 44.0|        DC|    B|                 109.0909090909091|
| 29.0|        KY|    G|                               0.0|
| 35.0|        NH|    E|                           -1400.0|
|  0.0|        CA|    C|                3.0706243602865917|
| 24.0|        WI|    C|                 2.247191011235955|
| 49.0|        ND|    D|                            -100.0|
|  5.0|        NJ|    F|                           2243.75|
| 17.0|        MN|    E|                            -434.0|
| 26.0|        SC|    E|                 307.6923076923077|
+-----+----------+-----+----------------------------------+
only showing top 20 rows

#### SQL

In [49]:
encoded_df.createOrReplaceTempView("avg_loan_amount_diff")
query = """
SELECT
    state,
    grade,
    COALESCE(AVG(loan_amount - previous_loan_amount_same_state_grade),0) AS avg_diff_between_consecutive_loans
FROM avg_loan_amount_diff
GROUP BY state, grade
"""
result = spark.sql(query)
result.show()

+-----+-----+----------------------------------+
|state|grade|avg_diff_between_consecutive_loans|
+-----+-----+----------------------------------+
| 36.0|    D|                -333.3333333333333|
| 23.0|    A|                 25.31645569620253|
| 34.0|    C|                 56.86274509803921|
| 46.0|    C|                 858.9285714285714|
| 17.0|    C|                 42.58474576271186|
| 42.0|    D|                           565.625|
|  0.0|    F|               -431.37254901960785|
|  7.0|    E|                222.22222222222223|
| 13.0|    E|                -511.1111111111111|
| 15.0|    C|               -25.157232704402517|
| 26.0|    B|                207.41758241758242|
| 44.0|    B|                 109.0909090909091|
| 29.0|    G|                               0.0|
| 35.0|    E|                           -1400.0|
|  0.0|    C|                3.0706243602865917|
| 24.0|    C|                 2.247191011235955|
| 49.0|    D|                            -100.0|
|  5.0|    F|                           2243.75|
| 17.0|    E|                            -434.0|
| 26.0|    E|                 307.6923076923077|
+-----+-----+----------------------------------+
only showing top 20 rows

> again attempting to show state code

In [50]:
lookup_table.createOrReplaceTempView("lookup_table")
query = """
SELECT
    state,
    FIRST(lookup_table.Original) AS state_name,
    grade,
    COALESCE(AVG(loan_amount - previous_loan_amount_same_state_grade),0) AS avg
FROM avg_loan_amount_diff
LEFT JOIN lookup_table ON avg_loan_amount_diff.state = lookup_table.Encoded
WHERE lookup_table.Column = 'state'
GROUP BY state, grade
"""
result = spark.sql(query)
result.show()

+-----+----------+-----+-------------------+
|state|state_name|grade|                avg|
+-----+----------+-----+-------------------+
|  0.0|        CA|    A|0.23201856148491878|
|  0.0|        CA|    B|  9.945750452079565|
|  0.0|        CA|    C| 3.0706243602865917|
|  0.0|        CA|    D|  4.081632653061225|
|  0.0|        CA|    E| -3.609625668449198|
|  0.0|        CA|    F|-431.37254901960785|
|  0.0|        CA|    G|  846.1538461538462|
|  1.0|        NY|    A| -53.99568034557235|
|  1.0|        NY|    B|  29.12878787878788|
|  1.0|        NY|    C| 25.713213213213212|
|  1.0|        NY|    D|  74.02597402597402|
|  1.0|        NY|    E|-191.66666666666666|
|  1.0|        NY|    F|  689.6551724137931|
|  1.0|        NY|    G| -1111.111111111111|
|  2.0|        TX|    A|  75.81967213114754|
|  2.0|        TX|    B|  4.739336492890995|
|  2.0|        TX|    C|-3.4686971235194584|
|  2.0|        TX|    D|-14.802631578947368|
|  2.0|        TX|    E| -53.94736842105263|
|  2.0|        TX|    F|  335.3658536585366|
+-----+----------+-----+-------------------+
only showing top 20 rows

# Lookup Table

In [51]:
lookup_table.show(lookup_table.count(), truncate=False)

+----------+------------------+-------+
|Column    |Original          |Encoded|
+----------+------------------+-------+
|emp_length|5 years           |5      |
|emp_length|9 years           |9      |
|emp_length|1 year            |1      |
|emp_length|2 years           |2      |
|emp_length|7 years           |7      |
|emp_length|8 years           |8      |
|emp_length|4 years           |4      |
|emp_length|6 years           |6      |
|emp_length|3 years           |3      |
|emp_length|10+ years         |10     |
|emp_length|< 1 year          |0      |
|state     |CA                |0      |
|state     |NY                |1      |
|state     |TX                |2      |
|state     |FL                |3      |
|state     |IL                |4      |
|state     |NJ                |5      |
|state     |PA                |6      |
|state     |OH                |7      |
|state     |GA                |8      |
|state     |NC                |9      |
|state     |AZ                |10     |
|state     |MI                |11     |
|state     |VA                |12     |
|state     |MD                |13     |
|state     |MA                |14     |
|state     |WA                |15     |
|state     |CO                |16     |
|state     |MN                |17     |
|state     |IN                |18     |
|state     |CT                |19     |
|state     |TN                |20     |
|state     |NV                |21     |
|state     |MO                |22     |
|state     |OR                |23     |
|state     |WI                |24     |
|state     |LA                |25     |
|state     |SC                |26     |
|state     |AL                |27     |
|state     |OK                |28     |
|state     |KY                |29     |
|state     |KS                |30     |
|state     |UT                |31     |
|state     |AR                |32     |
|state     |HI                |33     |
|state     |MS                |34     |
|state     |NH                |35     |
|state     |NE                |36     |
|state     |NM                |37     |
|state     |RI                |38     |
|state     |WV                |39     |
|state     |DE                |40     |
|state     |MT                |41     |
|state     |ME                |42     |
|state     |VT                |43     |
|state     |DC                |44     |
|state     |AK                |45     |
|state     |WY                |46     |
|state     |ID                |47     |
|state     |SD                |48     |
|state     |ND                |49     |
|purpose   |debt_consolidation|0      |
|purpose   |credit_card       |1      |
|purpose   |home_improvement  |2      |
|purpose   |other             |3      |
|purpose   |major_purchase    |4      |
|purpose   |medical           |5      |
|purpose   |car               |6      |
|purpose   |small_business    |7      |
|purpose   |house             |8      |
|purpose   |vacation          |9      |
|purpose   |moving            |10     |
|purpose   |renewable_energy  |11     |
|purpose   |wedding           |12     |
|grade     |1                 |A      |
|grade     |2                 |A      |
|grade     |3                 |A      |
|grade     |4                 |A      |
|grade     |5                 |A      |
|grade     |6                 |B      |
|grade     |7                 |B      |
|grade     |8                 |B      |
|grade     |9                 |B      |
|grade     |10                |B      |
|grade     |11                |C      |
|grade     |12                |C      |
|grade     |13                |C      |
|grade     |14                |C      |
|grade     |15                |C      |
|grade     |16                |D      |
|grade     |17                |D      |
|grade     |18                |D      |
|grade     |19                |D      |
|grade     |20                |D      |
|grade     |21                |E      |
|grade     |22                |E      |
|grade     |23                |E      |
|grade     |24                |E      |
|grade     |25                |E      |
|grade     |26                |F      |
|grade     |27                |F      |
|grade     |28                |F      |
|grade     |29                |F      |
|grade     |30                |F      |
|grade     |31                |G      |
|grade     |32                |G      |
|grade     |33                |G      |
|grade     |34                |G      |
|grade     |35                |G      |
+----------+------------------+-------+

# Saving the dataset

In [52]:
encoded_df.columns

['customer_id',
 'emp_title',
 'emp_length',
 'annual_inc',
 'annual_inc_joint',
 'zip_code',
 'addr_state',
 'avg_cur_bal',
 'tot_cur_bal',
 'loan_id',
 'loan_status',
 'loan_amount',
 'funded_amount',
 'term',
 'int_rate',
 'issue_date',
 'pymnt_plan',
 'description',
 'home_ownership_OWN',
 'home_ownership_RENT',
 'home_ownership_MORTGAGE',
 'home_ownership_ANY',
 'home_ownership_OTHER',
 'verification_status_Verified',
 'verification_status_Source Verified',
 'verification_status_Not Verified',
 'state',
 'type_DIRECT_PAY',
 'type_JOINT',
 'type_INDIVIDUAL',
 'purpose',
 'grade',
 'issue_date_formatted',
 'previous_loan_issue_date_same_grade',
 'previous_loan_amount_same_grade',
 'previous_loan_issue_date_same_state_grade',
 'previous_loan_amount_same_state_grade']

#### checking num of partitions

In [53]:
print(f"Number of partitions in lookup table: {lookup_table.rdd.getNumPartitions()}")
print(f"Number of partitions in encoded DataFrame: {encoded_df.rdd.getNumPartitions()}")

Number of partitions in lookup table: 218
Number of partitions in encoded DataFrame: 3

#### coalesce into less partitions

In [54]:
 # Coalesce the DataFrames into a smaller number of partitions
num_partitions = 1  # Adjust as needed

lookup_table = lookup_table.coalesce(num_partitions)
encoded_df = encoded_df.coalesce(num_partitions)

# Verify the number of partitions
print(f"Number of partitions in lookup table after coalesce: {lookup_table.rdd.getNumPartitions()}")
print(f"Number of partitions in encoded DataFrame after coalesce: {encoded_df.rdd.getNumPartitions()}")

Number of partitions in lookup table after coalesce: 1
Number of partitions in encoded DataFrame after coalesce: 1

In [57]:
encoded_df.write.parquet("/content/fintech_spark_52_16824_clean.parquet", mode="overwrite")
lookup_table.write.parquet("/content/lookup_spark_52_16824.parquet", mode="overwrite")

# Save into postgres (Bonus)

In [58]:
import os
from sqlalchemy import create_engine

url = "postgresql://postgres.bscfluoimobhvwyqmwbi:UH8QrvWneP2dpHfI@aws-0-eu-central-1.pooler.supabase.com:6543/postgres"
engine = create_engine(url)

In [59]:
encoded_df.toPandas().to_sql('fintech_spark_52_16824_clean', engine, if_exists='replace', index=False)
lookup_table.toPandas().to_sql('lookup_spark_52_16824', engine, if_exists='replace', index=False)

109